@font-face {
	font-family: "FontAwesome";
	src: url( "../assets/fontawesome-webfont.eot?v=4.5.0" );
	src:
		url( "../assets/fontawesome-webfont.eot?#iefix&v=4.5.0" ) format( "embedded-opentype" ),
		url( "../assets/fontawesome-webfont.woff2?v=4.5.0" ) format( "woff2" ),
		url( "../assets/fontawesome-webfont.woff?v=4.5.0" ) format( "woff" ),
		url( "../assets/fontawesome-webfont.ttf?v=4.5.0" ) format( "truetype" ),
		url( "../assets/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular" ) format( "svg" );
}

@font-face {
	font-family: "LCDBOLD";
	src: url( "../assets/LCDBOLD.eot" );
	src:
		url( "../assets/LCDBOLD.woff" ) format( "woff" ),
		url( "../assets/LCDBOLD.ttf" ) format( "truetype" );
}
