.gridBlock {
	position: absolute;
	height: 100%;
	overflow: hidden;
	border-radius: $gridBlock_radius;
	color: #111;
	background: $gridBlock_bg;
	transition: opacity .2s;

	.track.off & {
		opacity: $gridBlock_opacity_mute;
	}

	.header {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: $gridBlock_headHeight;
		display: flex;
		align-items: center;
		padding: 0 $gridBlock_headPadding;
		font-size: $gridBlock_fontSize;
		font-weight: bold;
		text-shadow: 1px 1px 0 rgba( #fff, .2 );
		background: $gridBlock_headBg;
		transition: .2s;
		transition-property: background, height;
	}
	.icon {
		margin-right: $gridBlock_headPadding;
	}
	.content {
		position: absolute;
		top: $gridBlock_headHeight;
		bottom: 0;
		width: 100%;
		border-bottom: $gridBlock_borderBottom;
		transition: .2s;
		transition-property: border-bottom-color, top, opacity;
	}
	.crop {
		display: none;
		position: absolute;
		width: $gridBlock_cropWidth;
		max-width: 25%;
		height: 100%;
		cursor: ew-resize;
		transition: background .2s;

		&:hover, &.hover {
			background: $gridBlock_cropBg;
		}
		&.end {
			right: 0;
		}
	}

	&.selected {
		.header {
			background: $gridBlock_headBg_selected;
		}
		.content {
			border-bottom-color: $gridBlock_headBg_selected;
		}
	}

	/* CSS depending on the grid tool selected */
	#grid[data-tool="slip"] & {
		cursor: ew-resize;
	}
	#grid[data-tool="cut"] & {
		cursor: ns-resize;
	}
	#grid[data-tool="paint"] & {
		@extend [data-cursor="grab"];
		.crop {
			display: block;
		}
	}

	/* "responsive" */
	#grid[data-sample-size="small"] & {
		.header {
			height: 100%;
			font-size: $gridBlock_fontSize_small;
		}
		.content {
			z-index: 1;
			top: 0;
			opacity: $gridBlock_contentOpacity_small;
		}
	}
}
