#grid {
	position: absolute;
	top: 40px;
	left: 150px;
	bottom: 0;
	right: 0;
	overflow: hidden;
	font-size: 30px;

	&Header {
		position: relative;
		z-index: 3;
		height: 19px;
		border-bottom: 1px solid #000;
	}

	&Cols {
		position: absolute;
		left: 0;
		right: -30px; // -30 to hide the scrollbar (for the moment)
		height: 100%;
		overflow: auto;
		overflow-x: hidden;
		background: rgba( #000, .56 );

		> * {
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	&ColB {
		right: 0;
	}
}
