@font-face {
	font-family: "FontAwesome";
	src: url( "../assets/fontawesome-webfont.eot?v=4.5.0" );
	src:
		url( "../assets/fontawesome-webfont.eot?#iefix&v=4.5.0") format( "embedded-opentype" ),
		url( "../assets/fontawesome-webfont.woff2?v=4.5.0" ) format( "woff2" ),
		url( "../assets/fontawesome-webfont.woff?v=4.5.0" ) format( "woff" ),
		url( "../assets/fontawesome-webfont.ttf?v=4.5.0" ) format( "truetype" ),
		url( "../assets/fontawesome-webfont.svg?v=4.5.0#fontawesomeregular" ) format( "svg" );
}

// Shapes :
$icon-caret-down       : "\f0d7"; // fa-caret-down
$icon-caret-up         : "\f0d8"; // fa-caret-up
$icon-circle           : "\f111"; // fa-circle
$icon-circle-o         : "\f10c"; // fa-circle-o
$icon-cross            : "\f00d"; // fa-times

// Browsers :
$icon-chrome           : "\f268"; // fa-chrome
$icon-firefox          : "\f269"; // fa-firefox
$icon-safari           : "\f267"; // fa-safari
$icon-edge             : "\f282"; // fa-edge

// placeholder :
$icon-file-audio       : "\f1c7"; // fa-file-audio-o

// #panel :
$icon-history          : "\f0e2"; // fa-undo
$icon-music            : "\f001"; // fa-music
$icon-files            : $icon-music;
$icon-undo             : "\f112"; // fa-reply
$icon-redo             : "\f064"; // fa-share

// .file :
$icon-ramload          : "\f019"; // fa-download
$icon-loading          : "\f021"; // fa-refresh

// #about :
$icon-question         : "\f059"; // fa-question-circle
$icon-github           : "\f09b"; // fa-github
$icon-github-alt       : "\f113"; // fa-github-alt

// #menu :
$icon-play             : "\f04b"; // fa-play
$icon-pause            : "\f04c"; // fa-pause
$icon-stop             : "\f04d"; // fa-stop
$icon-save             : "\f0a0"; // fa-hdd-o (f0c7 fa-floppy-o)
$icon-magnet           : "\f076"; // fa-magnet

$icon-paint            : "\f1fc"; // fa-paint-brush
$icon-cut              : "\f0c4"; // fa-scissors
$icon-delete           : "\f12d"; // fa-eraser
$icon-hand             : "\f256"; // fa-hand-paper-o
$icon-mute             : "\f026"; // fa-volume-off
$icon-move             : "\f047"; // fa-arrows
$icon-crop             : "\f125"; // fa-crop
$icon-select           : "\f245"; // fa-mouse-pointer
$icon-slip             : "\f0ec"; // fa-exchange
$icon-zoom             : "\f002"; // fa-search
$icon-clone            : "\f24d"; // fa-clone

.icon {
	display: inline-block;
	font-family: "FontAwesome";
	font-weight: normal;
	font-style: normal;

	&.fw {
		width: 1.28571429em;
		text-align: center;
	}

	&:after {
		display: inline-block;
	}

	&.loading,
	&.spin {
		animation: keyframes-spin 2s infinite linear;
	}

	@keyframes keyframes-spin {
		  0% { transform: rotate(   0deg ); }
		100% { transform: rotate( 359deg ); }
	}

	&.chrome:after        { content: $icon-chrome;        }
	&.firefox:after       { content: $icon-firefox;       }
	&.safari:after        { content: $icon-safari;        }
	&.edge:after          { content: $icon-edge;          }

	&.caret-down:after    { content: $icon-caret-down;    }
	&.caret-up:after      { content: $icon-caret-up;      }
	&.circle:after        { content: $icon-circle;        }
	&.cross:after         { content: $icon-cross;         }
	&.file-audio:after    { content: $icon-file-audio;    }
	&.history:after       { content: $icon-history;       }
	&.files:after,
	&.music:after         { content: $icon-music;         }
	&.ramload:after       { content: $icon-ramload;       }
	&.loading:after       { content: $icon-loading;       }
	&.question:after      { content: $icon-question;      }
	&.github:after        { content: $icon-github;        }
	&.github-alt:after    { content: $icon-github-alt;    }
	&.play:after          { content: $icon-play;          }
	&.pause:after         { content: $icon-pause;         }
	&.stop:after          { content: $icon-stop;          }
	&.save:after          { content: $icon-save;          }
	&.magnet:after        { content: $icon-magnet;        }
	&.undo:after          { content: $icon-undo;          }
	&.redo:after          { content: $icon-redo;          }

	&.paint:after         { content: $icon-paint;    }
	&.cut:after           { content: $icon-cut;      }
	&.delete:after        { content: $icon-delete;   }
	&.hand:after          { content: $icon-hand;     }
	&.mute:after          { content: $icon-mute;     }
	&.move:after          { content: $icon-move;     }
	&.crop:after,
	&.cropEnd:after       { content: $icon-crop;     }
	&.select:after        { content: $icon-select;   }
	&.slip:after          { content: $icon-slip;     }
	&.zoom:after          { content: $icon-zoom;     }
	&.paste:after         { content: $icon-clone;    }
}
