html, body {
	height: 100%;
}

body {
	overflow: hidden; // Deactivate the Apple's creepy scroll bounce effect.
	margin: 0;
}

a {
	outline: 0;
	cursor: pointer;
	text-decoration: none;
	color: inherit;
}

input {
	outline: 0;
}

::-webkit-scrollbar {
	width: $scrollbar_size;
	height: $scrollbar_size;

	&-thumb { background: $scrollbar_thumbBg; }
	&-track { background: $scrollbar_bg; }
}
