.saveComposition {
	display: block;
	padding: 10px;
	background: rgba( #000, .3 );
	transition: .2s;
	transition-property: background, color, padding-left;

	.name {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		font-size: 14px;
		font-weight: bold;
	}
	.bpm:after {
		content: " BPM - ";
	}

	&:hover {
		color: #fff;
		padding-left: 15px;
		background: rgba( #000, .4 );
	}
	&.selected {
		color: #fff;
		background: rgba( #000, .5 );

		.name:before {
			font-family: "FontAwesome";
			padding-right: .5em;
			content: $icon-play;
		}
	}
}
