#timeline {
	box-sizing: border-box;
	position: absolute;
	overflow: hidden;
	top: 0;
	right: -3em;
	height: 100%;
	border-top: $timeline_border;
	background: $timeline_bgColor;
	cursor: default;
	counter-reset: beatCounter;
}
