#about {
	$logoSize: 250px;
	$colorLink: #ddf;

	z-index: 999;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	color: #ddd;
	font-size: 18px;
	background: rgba( #000, .8 );
	opacity: 0;
	visibility: hidden;
	transition: .2s;
	transition-property: visibility, opacity;

	&.show {
		visibility: visible;
		opacity: 1;
	}

	a {
		color: $colorLink;
	}

	p {
		margin: 0;
	}

	.container {
		$w: 680px;
		$h: $logoSize + 20;
		display: flex;
		position: absolute;
		top: 50%;
		left: 50%;
		margin: $h/-2 0 0 $w/-2;
		width: $w;
		height: $h;
	}

	.content-cell {
		flex: 1;
		box-sizing: border-box;
		padding-left: 80px;
	}

	.credits {
		p {
			a {
				font-weight: bold;
				font-style: italic;
			}
		}
		> * {
			margin-top: 31px;
		}
	}

	.contributor {
		display: inline-block;
		text-decoration: none;

		img {
			width: 35px;
			border: 1px solid #000;
			border-radius: 3px;
			margin-right: 10px;
		}
		* {
			vertical-align: middle;
		}
	}

	.logo {
		&-cell {
			position: relative;
			width: $logoSize;
		}

		position: absolute;
		top: 50%;
		left: 50%;
		border-radius: 50%;
		background: url( "../../assets/logo-white-250.png" );
		background-size: cover;
		animation: animShadow 2.1s infinite ease;

		$col: #aaf;
		$minop: .5;
		$mins: $logoSize - 10;
		$maxA: $logoSize;
		$maxB: $logoSize - 5;
		@keyframes animShadow {
			  0% { width: $maxA; height: $maxA; margin: $maxA/-2; opacity: 1;  box-shadow: 0 0 85px rgba( $col, .4 ); }
			  4% { width: $maxA; height: $maxA; margin: $maxA/-2; opacity: 1;  box-shadow: 0 0 85px rgba( $col, .4 ); }
			 
			 10% { width: $mins; height: $mins; margin: $mins/-2; opacity: .7; box-shadow: 0 0 50px rgba( $col, .2 ); }
			 
			 14% { width: $maxB; height: $maxB; margin: $maxB/-2; opacity: 1; box-shadow: 0 0 70px rgba( $col, .27 ); }
			 18% { width: $maxB; height: $maxB; margin: $maxB/-2; opacity: 1; box-shadow: 0 0 70px rgba( $col, .27 ); }
			 
			 21% { width: $mins; height: $mins; margin: $mins/-2; opacity: .7; box-shadow: 0 0 60px rgba( $col, .25 ); }
			100% { width: $mins; height: $mins; margin: $mins/-2; opacity: $minop; box-shadow: 0 0 20px rgba( $col, .1 ); }
		}
	}
}