[data-cursor="col-resize"] { cursor: col-resize; }
[data-cursor="ew-resize"]  { cursor:  ew-resize; }
[data-cursor="e-resize"]   { cursor:   e-resize; }
[data-cursor="w-resize"]   { cursor:   w-resize; }
[data-cursor="grab"]       { cursor: -webkit-grab;     cursor: grab; }
[data-cursor="grabbing"]   { cursor: -webkit-grabbing; cursor: grabbing; }
[data-cursor="zoom-in"]    { cursor: -webkit-zoom-in;  cursor: zoom-in; }
[data-cursor="zoom-out"]   { cursor: -webkit-zoom-out; cursor: zoom-out; }

#app[data-cursor] * { cursor: inherit !important; }
