#files {
	box-sizing: border-box;
	position: absolute;
	min-width: 150px;
	max-width: 400px;
	left: 0;
	top: 59px;
	bottom: 0;

	.filelist {
		overflow: auto;
		height: 100%;
		background: rgba( #000, .25 );

		.file {
			display: block;
			position: relative;
			height: 32px;
			color: #aaa;
			border-bottom: 1px solid #000;
			transition: background .2s;
			background: rgba( #000, .5 );

			.waveform {
				display: block;
				width: 100%;
				height: 100%;
				transition: opacity .2s;
				opacity: .5;
			}
			.to-load {
				margin-right: .5em;
				opacity: .5;
			}
			span {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				font-size: 12px;
				font-weight: bold;
				line-height: 32px;
				transition: padding .2s;
				padding: 0 .5em;
				@include text-stroke( #000 );
			}
			&:hover {
				color: #fff;
				background: #000;

				.waveform {
					opacity: 1;
				}
				span {
					padding-left: 1em;
				}
			}
		}
	}

	.placeholder {
		display: none;
		position: absolute;
		left: 0;
		right: 0;
		top: 25%;
		text-align: center;
		color: #333;

		.fa {
			font-size: 80px;
			margin-bottom: .2em;
		}
	}
	.filelist:empty + .placeholder {
		display: block;
	}
}

