#grid {
	position: absolute;
	top: 40px;
	left: 150px;
	bottom: 0;
	right: 0;
	overflow: hidden;
	font-size: 30px;

	.header {
		position: relative;
		z-index: 2;
		height: 19px;
		border-bottom: 1px solid #000;
	}

	.timeline {
		box-sizing: border-box;
		position: absolute;
		overflow: hidden;
		top: 0;
		right: -3em;
		height: 100%;
		border-top: 1px solid #000;
		background: $color_timelineBg;
		counter-reset: section;

		div {
			display: inline-block;
			width: 1em;
			height: 100%;
			color: $color_timelineText;

			&:first-child {
				visibility: hidden;
			}
			span {
				display: inline-block;
				vertical-align: top;
				width: 100%;
				margin-left: -50%;
				text-align: center;
				font-family: monospace;
				margin-top: 2px;
				font-size: 12px;
				opacity: .5;

				&:after {
					counter-increment: section;
					content: counter( section );
				}
			}
			&:nth-child( 4n+1 ) span {
				margin-top: 0;
				font-size: 14px;
				font-weight: bold;
				opacity: 1;
			}
		}
	}

	.timeArrow,
	.timeCursor {
		opacity: 0;
		transition: opacity .2s;
		&.visible {
			opacity: 1;
		}
	}

	.timeArrow {
		position: absolute;
		z-index: 1;
		bottom: 0;
		line-height: 19px;

		&:after {
			color: $color_timearrow;
			font-size: 28px;
			margin-left: -8px;
			text-shadow: $shadow_timearrow;
		}
	}

	.timeCursor {
		position: absolute;
		z-index: 1;
		height: 100%;
		width: 1px;
		margin-left: -1px;
		background: $color_cursorTimeBg;
		box-shadow: -2px 0 10px $color_cursorTimeShadow;
	}

	.trackList {
		position: absolute;
		overflow: hidden;
		width: 100%;
		top: 20px;
		bottom: 0;
	}

	.cols {
		position: absolute;
		left: 0;
		right: -30px; // -30 to hide the scrollbar (for the moment)
		height: 100%;
		overflow: auto;
		overflow-x: hidden;
		background: rgba( #000, .56 );

		> * {
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	.colB {
		right: 0;
	}

	.trackNames {
		box-sizing: border-box;
		z-index: 2;
		min-width: 16px;
		max-width: 300px;
		border: solid #000;
		border-width: 0 1px;
		background: $color_tracknamesBg;
	}

	.trackLinesBg {
		position: absolute;
		width: 1000000px;
		top: 0;
		bottom: 0;
		overflow: hidden;
		background: $color_tracklinesBg;

		* {
			display: inline-block;
			height: 100%;
			& + * {
				border-left: 1px solid;
				margin-left: -1px;
			}
		}
		> * {
			width: 4em;
			border-color: $color_tracklinesBorder;
			&:nth-child( even ) {
				background: $color_tracklinesBgEven;
			}

			* {
				width: 25%;
			}
			> * {
				border-color: rgba( #000, .5 );
				* {
					border-color: rgba( #000, .2 );
				}
			}
		}
	}

	.trackLines {
		position: relative;
		width: 1000000px;
		margin-left: 0;
	}
}
