#menu {
	$marginBetweenBtn: 5px;

	display: flex;
	box-sizing: border-box;
	position: absolute;
	right: 0;
	top: 0;
	height: 40px;
	line-height: 40px;
	color: $color_menuText;

	> * {
		display: inline-block;
		vertical-align: top;
		line-height: 40px;
		height: 100%;

		&:first-child {
			margin-left: -1px;
		}
		&.btn {
			width: 40px;
			font-size: 14px;

			&:active {
				padding-top: .2em;
			}
		}
	}

	@mixin writeBg( $c ) {
		background: $c;
		&:hover {
			background: lighten( $c, $lighten_toolHover );
			opacity: 1;
		}
	}

	.btn {
		box-sizing: border-box;
		text-align: center;
		transition:
			box-shadow .05s,
			background .2s,
			color .2s;

		&.play  { @include writeBg( $color_playBtn ); }
		&.pause { @include writeBg( $color_pauseBtn ); }
		&.stop  { @include writeBg( $color_stopBtn ); }
	}

	.border {
		margin-right: $marginBetweenBtn;
		border: solid #000;
		border-width: 0 1px;

		&:active,
		&.clicked {
			box-shadow: inset 0 2px 3px rgba( #000, .7 );
		}
	}

	.sep {
		align-self: center;
		width: 0;
		height: 65%;
		margin: 0 3px;
		border-left: 1px dashed rgba( #fff, .15 );
	}
	.bpm ~ .btn {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 35px;
		height: 100%;
		font-size: 16px;
		color: rgba( #fff, .3 );

		&:before {
			width: 100%;
		}
		&:hover {
			color: rgba( #fff, .6 );
		}
		&.active {
			color: #fff;
		}
	}

	.flex1 {
		flex: 1;
		visibility: hidden;
	}

	.about {
		$s: 32px;
		margin-left: $marginBetweenBtn;
		align-self: center;
		width: $s;
		height: $s;
		min-width: $s;
		line-height: $s;
		border-radius: 50%;
		color: $color_bodyStripA;
		font-size: 22px;
		text-align: center;
		opacity: .4;
		@include writeBg( #bbb );
	}
}
