#menu {
	box-sizing: border-box;
	position: absolute;
	right: 0;
	top: 0;
	height: 40px;
	line-height: 40px;
	color: $color_menuText;

	> * {
		display: inline-block;
		vertical-align: top;
		line-height: 40px;
		height: 100%;
		margin-right: 5px;
		border: solid #000;
		border-width: 0 1px;

		&:first-child {
			margin-left: -1px;
		}
		&.btn {
			width: 40px;
			font-size: 14px;

			&:active {
				box-shadow: inset 0 2px 3px rgba( #000, .7 );
				padding-top: .2em;
			}
		}
	}

	@mixin writeBg( $c ) {
		background: $c;
		&:hover {
			background: lighten( $c, $lighten_toolHover );
			opacity: 1;
		}
	}

	.btn {
		box-sizing: border-box;
		text-align: center;
		transition:
			box-shadow .05s,
			background .2s;

		&.play  { @include writeBg( $color_playBtn ); }
		&.stop  { @include writeBg( $color_stopBtn ); }
	}

	.tools {
		border-top-width: 1px;
		vertical-align: bottom;
		font-size: 24px;
		line-height: 1em;
		height: auto;

		.btn {
			line-height: 1em;
			width: 1em;
			border: 0 solid $color_toolBorder;
			@include writeBg( $color_tool );

			&.active {
				background: lighten( $color_tool, $lighten_toolSelected );
			}
			& + * {
				border-left-width: 1px;
			}
			&:before {
				font-size: 14px;
			}
		}

		.last {
			border-right-width: 1px;
		}

		.magnet {
			margin-right: 3px;
			border-right-width: 1px;
		}

		.save {
			margin-left: 3px;
			border-left-width: 1px;
		}
	}

	.about {
		$s: 32px;
		position: absolute;
		right: 0;
		top: 4px;
		width: $s;
		height: $s;
		line-height: $s;
		border: 0;
		border-radius: 50%;
		color: $color_bodyStripA;
		font-size: 22px;
		text-align: center;
		opacity: .4;
		@include writeBg( #bbb );
	}
}
