@mixin strip-background( $deg, $w, $cA, $cB ) {
	background: repeating-linear-gradient( $deg,
		$cA $w,     $cA $w * 2,
		$cB $w * 2, $cB $w * 3
	);
}

@mixin text-stroke( $col ) {
	text-shadow:
		-1px -1px 0 $col,
		 1px -1px 0 $col,
		 1px  1px 0 $col,
		-1px  1px 0 $col
	;
}
