#history {
	$task-height: 26px;
	$task-fs: 12px;
	$btn-bg: #454545;
	$btn-size: 18px;

	nav {
		.btn {
			display: inline-block;
			width: $btn-size;
			height: $btn-size;
			line-height: $btn-size;
			padding: 1px;
			margin-left: 10px;
			border-radius: 2px;
		}
	}

	.task {
		display: block;
		box-sizing: border-box;
		height: $task-height;
		line-height: $task-height;
		font-size: $task-fs;
		border-bottom: 1px solid #000;
		background: $color_taskBg;
		color: #ddd;
		transition: .2s;
		transition-property: color, background;

		.circle {
			width: $btn-size;
			vertical-align: middle;
			line-height: $task-height;
			opacity: .5;
			font-size: 6px;
			transition: font-size .2s;
		}
		.tool {
			margin-right: 5px;
			width: 16px;
			height: 16px;
			line-height: 16px;
			border-radius: 2px;
			padding: 1px;
			background: $btn-bg;
		}
		.title {
			font-family: monospace;
			font-size: 11px;
		}
		&.undone {
			border-bottom-style: dashed;
			opacity: .4;

			.circle {
				&:after {
					content: $icon-circle-o;
				}
			}
		}
		&:hover {
			color: #fff;
			background: $color_taskHoverBg;
			opacity: 1;

			.circle {
				font-size: 10px;
			}
		}
	}
}
