#panel {
	position: absolute;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	z-index: 3;
	min-width: 200px;
	max-width: 450px;
	left: 0;
	top: 59px;
	bottom: 0;

	input {
		display: none;
	}

	.filters {
		display: flex;
		flex-wrap: wrap;
		font-size: 12px;
		font-weight: bold;
		background: $color_fileFiltersBg;
		border-bottom: 1px dashed #000;

		a {
			padding: 10px;
			border-radius: .2em;
			color: #969696;
			opacity: .5;
			text-decoration: line-through;
			font-variant: all-small-caps;
			&:hover {
				background: rgba( #fff, .05 );
			}
		}
		&.used .used,
		&.loaded .loaded,
		&.unloaded .unloaded {
			opacity: 1;
			text-decoration: none;
		}
	}

	.filelist {
		flex: 1;
		overflow: auto;
	}

	.sample {
		height: 0;
		overflow: hidden;
		visibility: hidden;
		margin-top: -1px;
		transition: all .2s;
	}
	.filters.used + .filelist .sample.used,
	.filters.loaded + .filelist .sample.loaded,
	.filters.unloaded + .filelist .sample.unloaded {
		height: 32px;
		visibility: visible;
		margin-top: 0;
	}

	.placeholder {
		display: none;
		position: absolute;
		left: 0;
		right: 0;
		top: 25%;
		text-align: center;
		color: $color_filesPlaceholder;

		.fa {
			font-size: 80px;
			margin-bottom: .2em;
		}
	}
	.filelist:empty + .placeholder {
		display: block;
	}
}

