#files {
	input {
		display: none;
	}

	.filters {
		a {
			padding: 6px 10px;
			border-radius: .2em;
			opacity: .5;
			text-decoration: line-through;
			font-variant: all-small-caps;
		}
		&.used .used,
		&.loaded .loaded,
		&.unloaded .unloaded {
			opacity: 1;
			text-decoration: none;
		}
	}

	.sample {
		height: 0;
		overflow: hidden;
		visibility: hidden;
		margin-top: -1px;
		transition: all .2s;
	}
	.filters.used + .filelist .sample.used,
	.filters.loaded + .filelist .sample.loaded,
	.filters.unloaded + .filelist .sample.unloaded {
		height: 32px;
		visibility: visible;
		margin-top: 0;
	}

	.filelist:empty + .placeholder {
		display: block;
	}

	.placeholder {
		display: none;
		position: absolute;
		left: 0;
		right: 0;
		top: 25%;
		text-align: center;
		color: $color_filesPlaceholder;

		.icon {
			font-size: 80px;
			margin-bottom: .2em;
		}
	}
}
