@font-face {
	font-family: "LCDBOLD";
	src: url("../fonts/LCDBOLD.eot");
	src: local("LCDBOLD"),
		url("../fonts/LCDBOLD.woff") format("woff"),
		url("../fonts/LCDBOLD.ttf") format("truetype");
}

html, body {
	height: 100%;
}

body {
	overflow: hidden; // Deactivate the Apple's creepy scroll bounce effect.
	margin: 0;
	cursor: default;
	font: 14px sans-serif;
	background: $color_bodyStripA;
	@include strip-background( 45deg,
		$width_bodyStrip,
		$color_bodyStripA,
		$color_bodyStripB
	);
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

a {
	// For Firefox.
	outline: 0;
	cursor: pointer;
	text-decoration: none;
}

input {
	outline: 0;
}

.cursor-move {
	cursor: move;
}

.cursor-ewResize {
	cursor: ew-resize;
}

.no-transition {
	transition: none !important;
}

.text-overflow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

::-webkit-scrollbar {
	width: $width_scrollbarSize;
	height: $width_scrollbarSize;

	&-thumb {
		background: $color_scrollbarThumb;
	}
	&-track {
		background: $color_scrollbarBg;
	}
}
