.waveform.dragging {
	position: absolute;
	box-sizing: border-box;
	z-index: 999;
	$w: 150px;
	$h: 50px;
	width: $w;
	height: $h;
	margin-left: -$w / 2;
	margin-top: 20px;
	border: 2px solid rgba( #000, .8 );
	background: rgba( #000, .5 );
}

.sample {
	display: block;
	position: relative;
	overflow: hidden;
	color: #aaa;
	transition: background .2s;
	background: rgba( #000, .5 );

	.filelist & {
		height: 32px;
		border-bottom: 1px solid #000;

		&:hover {
			color: #fff;
			background: #000;

			.waveform {
				opacity: 1;
			}
			span {
				padding-left: 1em;
			}
		}
	}
	.track & {
		height: 1em;
	}

	.waveform {
		display: block;
		width: 100%;
		height: 100%;
		transition: opacity .2s;
		opacity: .5;
	}
	.cursor {
		position: absolute;
		height: 100%;
		top: 0;
		width: 1px;
		box-shadow: 0 0 5px rgba( #cc3, .5 );
		background: #cc3;
		transition: left linear;
		left: 0;
	}
	.to-load {
		margin-right: .5em;
		opacity: .5;
	}
	span {
		position: absolute;
		left: 0;
		right: 0;
		top: 50%;
		font-weight: bold;
		font-size: 12px;
		margin-top: -6px;
		line-height: 1em;
		transition: padding .2s;
		padding: 0 .5em;
		@include text-stroke( #000 );
	}
}
