.waveform.dragging {
	position: absolute;
	box-sizing: border-box;
	z-index: 999;
	$w: 150px;
	$h: 50px;
	width: $w;
	height: $h;
	margin-left: -$w / 2;
	margin-top: 20px;
	border: 2px solid rgba( #000, .8 );
	background: rgba( #000, .5 );
}

.sample {
	display: block;
	position: relative;
	color: $color_sampleName;
	transition: background .2s;
	background: rgba( #000, .5 );

	&:hover {
		color: $color_sampleNameHighlight;
	}

	.waveformWrapper {
		position: absolute;
		overflow: hidden;
		width: 100%;
		top: 0;
		bottom: 0;
	}
	.waveform {
		display: block;
		width: 100%;
		height: 100%;
		transition: opacity .2s;
	}
	.cursor {
		position: absolute;
		height: 100%;
		top: 0;
		width: 1px;
		background: $color_cursorTimeBg;
		box-shadow: -1px 0 3px rgba( $color_cursorTimeShadow, .7 );
		transition: left linear;
		left: 0;
	}
	.to-load {
		margin-right: .5em;
		opacity: .5;
	}
	.name {
		position: absolute;
		left: 0;
		right: 0;
		font-weight: bold;
		font-size: 12px;
		line-height: 1em;
		top: 50%;
		margin-top: -.5em;
		padding: 0 .5em;
		@include text-stroke( #000 );
	}
	.crop {
		$w: .125em;
		display: none;
		position: absolute;
		height: 100%;
		width: $w;
		max-width: 25%;
		cursor: ew-resize;
		&:hover, &.hover {
			background: rgba( #fff, .18 );
		}
		&.end {
			right: 0;
		}
	}

	// In the filelist :
	.filelist & {
		height: 32px;
		border-bottom: 1px solid #000;

		.waveform {
			opacity: .75;
		}
		.name {
			transition: padding .2s;
		}
		&:hover {
			background: #000;

			.waveform {
				opacity: 1;
			}
			.name {
				padding-left: 1em;
			}
		}
	}

	// In tracks :
	.track & {
		position: absolute;
		height: 1em;

		.name {
			background: $color_sampleTitleBg;
		}
	}
	.track.off & {
		opacity: $opacity_sampleOff;
	}

	// data-tool :
	#grid[data-tool="slip"] & {
		cursor: ew-resize;
	}
	#grid[data-tool="cut"] & {
		cursor: ns-resize;
	}
	#grid[data-tool="paint"] & {
		.crop {
			display: block;
		}
	}

	// Responsive (small, medium, big) :
	#grid[data-sample-size="small"] & {
		.waveform {
			opacity: .15;
		}
		.name {
			font-size: 11px;
			background: transparent;
		}
	}
	#grid[data-sample-size="medium"] &,
	#grid[data-sample-size="big"] & {
		.name {
			top: 0;
			padding: 2px;
			font-size: 11px;
			margin: 0;
		}
	}
	#grid[data-sample-size="medium"] & {
		.waveformWrapper {
			top: 15px;
		}
		.name {
			padding: 2px;
			font-size: 11px;
		}
	}
	#grid[data-sample-size="big"] & {
		.waveformWrapper {
			top: 24px;
		}
		.name {
			padding: .5em;
		}
	}

	// Selected :
	&.selected {
		#grid[data-sample-size="small"] & {
			background: $color_sampleSelectedBg;
		}
		#grid[data-sample-size="medium"] &,
		#grid[data-sample-size="big"] & {
			.name {
				background: $color_sampleSelectedSpanBg;
			}
		}
	}
}
