#timelineBeats {
	height: 100%;
}

.timelineBeat {
	display: inline-block;
	width: 1em;
	height: 100%;

	&:first-child {
		visibility: hidden;
	}
	span {
		display: inline-block;
		vertical-align: top;
		width: 100%;
		margin-left: -50%;
		text-align: center;
		font-family: monospace;
		margin-top: 2px;
		font-size: 12px;
		color: $timelineBeat_color;

		&:after {
			counter-increment: beatCounter;
			content: counter( beatCounter );
		}
	}
	&:nth-child( 4n ) span {
		margin-top: 0;
		font-size: 14px;
		font-weight: bold;
		color: $timelineBeat_4nColor;
	}
}
