.track {
	position: relative;
	box-sizing: border-box;
	height: $track_height;
	transition: .25s;
	transition-property: background, box-shadow;

	#tracksNames .track + & { border-top: $track_namesBorder; }
	#tracksLines .track + & { border-top: $track_linesBorder; }

	:not(.track) + &:not(.off),
	.track.off   + &:not(.off) {
		box-shadow: inset 0 3px 0 $track_firstBorder;
	}
	:not(.track)     + &.off,
	.track:not(.off) + &.off {
		box-shadow: inset 0 2px 0 $track_firstBorder_off;
	}

	.gs-ui-toggle {
		position: absolute;
		width: $track_toggleWidth;
		height: 100%;
		font-size: 6px;
	}

	.gs-ui-span-editable {
		position: absolute;
		left: $track_toggleWidth;
		right: 6px;
		height: 100%;
		font-size: 14px;
	}

	&.off {
		background: $track_bg_off;

		.gs-ui-span-editable {
			color: $track_spanEditableEmpty;
		}
	}
}
