#tracks {
	position: absolute;
	overflow: hidden;
	width: 100%;
	top: 20px;
	bottom: 0;

	&Names {
		box-sizing: border-box;
		z-index: 2;
		min-width: $track_toggleWidth + 2px;
		max-width: 300px;
		border: solid #000;
		border-width: 0 1px;
		background: $track_namesBg;
	}

	&Lines {
		position: relative;
		width: 1000000px;
		margin-left: 0;
	}

	&Bg {
		position: absolute;
		width: 1000000px;
		top: 0;
		bottom: 0;
		overflow: hidden;
		background: $track_backBg;

		* {
			display: inline-block;
			height: 100%;
			+ * {
				border-left: 1px solid;
				margin-left: -1px;
			}
		}
		> * {
			width: 4em;
			border-color: $track_linesBorderColor;
			&:nth-child( even ) {
				background: $track_backBgEven;
			}

			* {
				width: 25%;
			}
			> * {
				border-color: rgba( #000, .5 );
				* {
					border-color: rgba( #000, .2 );
				}
			}
		}
	}
}
