.track {
	position: relative;
	box-sizing: border-box;
	height: 1em;
	line-height: 1em;
	transition: .25s;
	transition-property: background, box-shadow;

	#tracksNames .track + & { border-top: 1px solid $color_tracksNamesBorder; }
	#tracksLines .track + & { border-top: 1px solid $color_tracksLinesBorder; }

	:not(.track) + &:not(.off),
	.track.off   + &:not(.off) {
		box-shadow: inset 0 3px 0 $border_trackFirst;
	}
	:not(.track)     + &.off,
	.track:not(.off) + &.off {
		box-shadow: inset 0 2px 0 $border_trackOffFirst;
	}

	.gs-ui-toggle {
		position: absolute;
		width: $track-toggle-width;
		height: 100%;
		font-size: 6px;
	}

	.gs-ui-span-editable {
		position: absolute;
		left: $track-toggle-width;
		right: 6px;
		height: 100%;
		font-size: 14px;
	}

	&.off {
		background: $color_trackOffBg;

		.gs-ui-span-editable {
			color: rgba( #fff, .2 ); // $c-span-editable-empty;
		}
	}
}
