.track {
	position: relative;
	box-sizing: border-box;
	height: 1em;
	line-height: 1em;
	transition: .25s;
	transition-property: background, box-shadow;

	#tracksNames .track + & { border-top: 1px solid $color_tracksNamesBorder; }
	#tracksLines .track + & { border-top: 1px solid $color_tracksLinesBorder; }

	:not(.track) + &:not(.off),
	.track.off   + &:not(.off) {
		box-shadow: inset 0 3px 0 $border_trackFirst;
	}
	:not(.track)     + &.off,
	.track:not(.off) + &.off {
		box-shadow: inset 0 2px 0 $border_trackOffFirst;
	}

	#tracksNames & {
		overflow: hidden;
		padding: 5px 0 5px $track-toggle-width;

		* {
			vertical-align: top;
		}
	}

	.gs-ui-toggle {
		position: absolute;
		top: 0;
		left: 0;
		width: $track-toggle-width;
		height: 100%;
		font-size: 6px;
		line-height: 1em;
	}

	#tracksNames & .name {
		display: block;
		min-width: 14px; // Avoid a graphic glitch when we resize the tracknames column.
		font-size: 14px;
		margin-top: -6px;
		padding-right: 5px;
		color: $color_trackName;

		&.empty {
			color: $color_trackOffName;
			font-weight: normal;
			font-style: italic;
		}
	}

	input {
		display: none;
		width: 100%;
		height: 100%;
		margin: 0;
		border: 0;
		padding: 0;
		color: $color_trackName;
		text-overflow: ellipsis;
		background: transparent;
	}

	&.off {
		background: $color_trackOffBg;

		#tracksNames & .name {
			color: $color_trackOffName;
		}
	}

	&.editing {
		#tracksNames & .name {
			display: none;
		}
		input {
			display: block;
		}
	}
}
