.track {
	position: relative;
	box-sizing: border-box;
	height: 1em;
	line-height: 1em;
	transition: .25s;
	transition-property: background, box-shadow;

	.trackNames .track + & { border-top: 1px solid $color_tracknamesBorder; }
	.trackLines .track + & { border-top: 1px solid $color_tracklinesBorder; }

	:not(.track) + &:not(.off),
	.track.off   + &:not(.off) {
		box-shadow: inset 0 3px 0 $border_trackFirst;
	}
	:not(.track)     + &.off,
	.track:not(.off) + &.off {
		box-shadow: inset 0 2px 0 $border_trackOffFirst;
	}

	.trackNames & {
		overflow: hidden;
		padding: 5px 0 5px 14px;

		* {
			vertical-align: top;
		}
	}

	.toggle {
		position: absolute;
		top: 0;
		left: 0;
		width: 14px;
		height: 100%;
		color: $color_trackToggleOff;

		&.on {
			color: $color_trackToggleOn;
		}
		&:after {
			content: $fa-circle;
			position: absolute;
			left: 50%;
			top: 50%;
			$w: 6px;
			font: $w "FontAwesome";
			margin: $w / -2;
		}
	}

	.name {
		display: block;
		font-size: 14px;
		margin-top: -6px;
		padding-right: 5px;
		color: $color_trackName;

		&.empty {
			color: $color_trackOffName;
			font-weight: normal;
			font-style: italic;
		}
	}

	input {
		display: none;
		width: 100%;
		height: 100%;
		margin: 0;
		border: 0;
		padding: 0;
		color: $color_trackName;
		text-overflow: ellipsis;
		background: transparent;
	}

	&.off {
		background: $color_trackOffBg;

		.name {
			color: $color_trackOffName;
		}
	}

	&.editing {
		.name {
			display: none;
		}
		input {
			display: block;
		}
	}
}
