$COLOR_MAIN: #142b3c;
$COLOR_SAMPLE: #76c4ff;
$COLOR_SAMPLE_SELECTED: #b51818;
$COLOR_SELECTION: #ff3636;

$fa-circle: "\f111";
$fa-caret-down: "\f0d7";
$fa-caret-up: "\f0d8";
// ---------------------------------------

$color_bodyStripA: #333;
$color_bodyStripB: darken( $color_bodyStripA, 2 );
$width_bodyStrip: 42px;
$width_scrollbarSize: 5px;
$color_scrollbarBg: #222;
$color_scrollbarThumb: #888;

$color_visualBg: rgba( #060315, .5 );
$color_clock: #ccc;
$color_clockStroke: #000;
$opacity_analyserWaveform: .2;

$color_menuText: $color_clock;
$color_playBtn: $COLOR_MAIN;
$color_stopBtn: #333;
$color_tool: $color_playBtn;
$lighten_toolHover: 5%;
$lighten_toolSelected: 10%;
$color_toolBorder: #1c1c27;

$color_bpmBg: #222;
$color_bpmUnit: #666;
$color_bpmListBg: rgba( $color_bpmBg, .5 );
$color_bpmListHover: #111;

$color_filesBg: rgba( #000, .5 );
$color_filesPlaceholder: #555;

$color_timelineBg: #0d0d0d;
$color_timelineText: #888;

$color_tracknamesBg: #272727;
$color_tracknamesBorder: #151515;
$color_tracklinesBg: $color_playBtn;
$color_tracklinesBgEven: darken( $color_tracklinesBg, 2 );
$color_tracklinesBorder: #090909;

$color_trackOffBg: rgba( #000, .2 );
$border_trackFirst: rgba( #fff, .05 );
$border_trackOffFirst: rgba( #000, .2 );
$color_trackName: #fff;
$color_trackOffName: rgba( #fff, .2 );
$color_trackToggleOff: #111;
$color_trackToggleOn: #4cb849;

$color_squareSelectionBorder: $COLOR_SELECTION;
$color_squareSelectionBg: rgba( $COLOR_SELECTION, .3 );

$color_timearrow: #9ac060;
$shadow_timearrow: 0 0 3px rgba( $color_timearrow, .8 );
$color_cursorTimeBg: rgba( #ffa, .4 );
$color_cursorTimeShadow: #50ff00;

// Sample :
$color_sampleName: #aaa;
$color_sampleNameHighlight: #fff;
$color_sampleTitleBg: rgba( $COLOR_SAMPLE, .3 );
$opacity_sampleOff: .5;
$color_sampleSelectedSpanBg: $COLOR_SAMPLE_SELECTED;
$color_sampleSelectedBg: rgba( $COLOR_SAMPLE_SELECTED, .5 );
