#visual {
	box-sizing: border-box;
	overflow: hidden;
	position: absolute;
	z-index: 3;
	left: 0;
	top: 0;
	height: 60px;
	border-right: 1px solid #000;
	background: $color_visualBg;

	canvas {
		width: 100%;
		height: 100%;
		opacity: $opacity_analyserWaveform;
	}

	.columns {
		display: flex;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
	}

	.cell-btn {
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
		width: 50px;
		text-align: center;
	}

	.cell-clock {
		flex: 1;
		position: relative;
		padding: 0 12px 0 5px;
		text-align: right;
	}
}

#btnFiles,
#btnHistory {
	$size: 24px;

	display: inline-block;
	width: $size;
	height: $size;
	line-height: $size;
	margin-bottom: 7px;
	border-radius: 50%;
	color: #999;
	border: 2px solid transparent;
	background: rgba( #fff, .07 );
	transition: .2s;
	transition-property: background, color;

	&:hover {
		color: #ccc;
		background: rgba( #fff, .15 );
	}
}

#app[data-panel="files"] #btnFiles,
#app[data-panel="history"] #btnHistory {
	color: #fff;
	border-color: #666;
	background: rgba( #fff, .15 );
}
