#visual {
	box-sizing: border-box;
	position: absolute;
	z-index: 3;
	left: 0;
	top: 0;
	height: 60px;
	border: solid #000;
	border-width: 0 1px 1px 0;
	background: $color_visualBg;

	canvas {
		width: 100%;
		height: 100%;
		opacity: $opacity_analyserWaveform;
	}

	.clock {
		position: absolute;
		right: 15px;
		top: 50%;
		font-family: "LCDBOLD";
		font-size: 38px;
		margin-top: -.5em;
		color: $color_clock;
		@include text-stroke( $color_clockStroke );

		.units {
			position: absolute;
			top: 11px;
			right: -4px;
			font: 10px consolas;
			line-height: 0;

			span {
				margin-left: 1px;
				opacity: .5;
			}

			&[data-unit="s"] .s,
			&[data-unit="b"] .b {
				opacity: 1;
			}
		}

		> .sec {
			&:before,
			&:after {
				content: ":";
				padding: 0 .15em;
			}
			&:after {
				content: ".";
			}
		}
		> .ms {
			font-size: .5em;
		}
	}
}
