<div id="grid">
	<div id="gridEm">
		<div id="gridHeader">
			{{> timeline }}
		</div>
		<div id="tracks">
			<div id="gridCols">
				<div id="tracksNames" class="colA">
					<div class="extend" data-mousemove-fn="trackNames"></div>
				</div>
				<div id="gridColB">
					<div id="tracksBg"></div>
					{{> gridcontent }}
				</div>
			</div>
		</div>
	</div>
</div>
