<div id="menu">
	<a id="btnPlay" class="btn border inshadow icon play" title="Play/pause (press Space, hold Ctrl for pause)"></a>
	<a id="btnStop" class="btn border inshadow icon stop" title="Stop (press Space)"></a>
	{{> bpm }}
	{{> save }}
	<a data-option="magnet" id="btnMagnet" class="btn small icon fw magnet" title="Toggle magnetism (press G)"></a>
	<div class="sep"></div>
	<a data-tool="select" class="btn small icon fw select" title="Select (hold Shift or press V)"></a>
	<a data-tool="paint"  class="btn small icon fw paint"  title="Paint (press B)"></a>
	<a data-tool="delete" class="btn small icon fw delete" title="Delete (press D)"></a>
	<a data-tool="mute"   class="btn small icon fw mute"   title="Mute (press M)" style="display: none;"></a>
	<a data-tool="slip"   class="btn small icon fw slip"   title="Slip (press S)"></a>
	<a data-tool="cut"    class="btn small icon fw cut"    title="Cut (press C)"></a>
	<a data-tool="hand"   class="btn small icon fw hand"   title="Hand (hold Alt or press H)"></a>
	<a data-tool="zoom"   class="btn small icon fw zoom"   title="Zoom (hold Ctrl or press Z)"></a>
	<div class="flex1"></div>
	<a href=".." target="_blank" class="btn small icon fw question" title="About"></a>
</div>
