<div id="save" class="border">
	<a data-edit="save" class="btn inshadow icon fw save" title="Save (Ctrl + S)"></a>
	<input id="saveCheckbox" type="checkbox"/>
	<label for="saveCheckbox" class="btn inshadow caret icon fw" title="Compositions list"></label>
	<div class="dropdown">
		<div class="title">Current composition :</div>
		<a href="#" id="exportToWaveFile">Export to Wave file</a>
		<div class="title">All compositions :</div>
		<div class="list"></div>
	</div>
</div>
