<div id="visual">
	{{> gsuiOscilloscope }}
	<div class="columns">
		<div class="cell-btn"><a id="btnHistory" class="btn icon fw history" title="History (undo/redo)"></a></div>
		<div class="cell-btn"><a id="btnFiles" class="btn icon fw files" title="Audio files"></a></div>
		<div class="cell-clock">
			{{> clock }}
		</div>
	</div>
</div>
