[submodule "daw-core"]
	path = daw-core
	url = https://github.com/gridsound/daw-core
[submodule "gs-ui-windows"]
	path = gs-ui-windows
	url = https://github.com/gridsound/gs-ui-windows
[submodule "gs-ui-components"]
	path = gs-ui-components
	url = https://github.com/gridsound/gs-ui-components
[submodule "gs-webaudio-library"]
	path = gs-webaudio-library
	url = https://github.com/gridsound/gs-webaudio-library
[submodule "gs-api-client"]
	path = gs-api-client
	url = https://github.com/gridsound/gs-api-client
