[submodule "daw-core"]
	path = daw-core
	url = https://github.com/gridsound/daw-core
[submodule "gs-ui-components"]
	path = gs-ui-components
	url = https://github.com/gridsound/gs-ui-components
	branch = main
[submodule "gs-api-client"]
	path = gs-api-client
	url = https://github.com/gridsound/gs-api-client
[submodule "gs-components"]
	path = gs-components
	url = https://github.com/gridsound/gs-components
[submodule "gs-wa-components"]
	path = gs-wa-components
	url = https://github.com/gridsound/gs-wa-components
[submodule "gs-utils"]
	path = gs-utils
	url = https://github.com/gridsound/gs-utils.git
[submodule "assets"]
	path = assets
	url = https://github.com/gridsound/assets.git
[submodule "samples"]
	path = samples
	url = https://github.com/gridsound/samples.git
[submodule "opus"]
	path = opus
	url = https://github.com/gridsound/opus.git
