<div id="clock">
	<span id="clockMin"></span>
	<span id="clockSec"></span>
	<span id="clockMs"></span>
	<a id="clockUnits" href="#">
		<span class="s">sec</span>
		<span class="b">beat</span>
	</a>
</div>
