#controls {
	@mixin writeBg( $c ) {
		background: $c;
		&:hover {
			background: lighten( $c, $lighten_toolHover );
		}
	}

	display: flex;
	box-sizing: border-box;
	position: absolute;
	right: 0;
	top: 0;
	height: 40px;
	line-height: 40px;
	color: $controls_color;

	.btn {
		box-sizing: border-box;
		width: 40px;
		font-size: 14px;
		text-align: center;
		cursor: pointer;
		transition:
			box-shadow .05s,
			background .2s,
			color .2s;

		&:active {
			padding-top: .2em;
		}
		&.small {
			width: 35px;
			font-size: 16px;
			color: darken( $controls_color, 30 );

			&:hover {
				color: darken( $controls_color, 15 );
			}
			&.active {
				color: $controls_color;
			}
		}
	}
	.play,
	.pause {
		@include writeBg( $controls_playBg );
	}
	.stop {
		@include writeBg( $controls_stopBg );
	}
	.btn.question {
		margin-right: 5px;
		font-size: 32px;
	}
	#save {
		.save,
		.caret {
			@include writeBg( $save_bg );
		}
	}

	.border {
		border-right: 1px solid #000;
	}

	.inshadow {
		&:active,
		&.clicked {
			box-shadow: inset 0 2px 3px rgba( #000, .7 );
		}
	}

	.sep {
		align-self: center;
		width: 0;
		height: 65%;
		margin: 0 3px;
		border-left: 1px dashed;
		opacity: .3;
	}
	.flex1 {
		flex: 1;
		visibility: hidden;
	}
}
