#tracks {
	position: absolute;
	overflow: hidden;
	width: 100%;
	top: 20px;
	bottom: 0;
}

#tracksNames {
	box-sizing: border-box;
	z-index: 2;
	min-width: $track_toggleWidth + 2px;
	max-width: 300px;
	border: solid #000;
	border-width: 0 1px;
	background: $track_namesBg;
}

.gsuiBeatLines {
	position: absolute;
	width: 100%;
	height: 100%;
	background: $track_backBg;
}
