html, body {
	height: 100%;
	margin: 0;
	font-family: sans-serif;
	background: #000;
}

::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background-color: #555; }
::-webkit-scrollbar-thumb { background-color: #888; }

#app {
	--gsuiPanels-bdSize: 2px;
	--gsuiPanels-extendSize: 4px;
	--small-bd-radius: 2px;
	--ctrl-height: 44px;
	--ctrl-padding: 4px;
	--color-light-blue: #67a;
	--color-light-red: #d44;
	--monospace: "Inconsolata", "consolas", monospace;

	width: 100%;
	height: 100%;
	overflow: hidden;
}
