#panelCmps {
	position: relative;
	background-color: #444;
}

#panelCmps .panel-title {
	display: flex;
	align-items: center;
	height: var( --ctrl-height );
	padding-top: 0;
	padding-bottom: 0;
	font-weight: normal;
	background: none;
}

#title:before {
	content: "GridSound";
	font-family: "title";
	font-size: 28px;
	color: #fff;
}

#cmps {
	background-color: #333;
}

#cmpMenu {
	position: absolute;
	z-index: 2;
	left: 100%;
	margin-left: 5px;
	color: #ddd;
	border: 2px solid #111;
	border-radius: 4px;
	background-color: #333;
	transition: .2s;
	transition-property: opacity, visibility;
}
#cmpMenu.hidden {
	opacity: 0;
	visibility: hidden;
}
#cmpMenu a {
	display: block;
	white-space: nowrap;
	font-size: 13px;
	line-height: 2em;
	padding: 0 .5em;
	cursor: default;
}
#cmpMenu a:hover {
	color: #fff;
	background: #222;
}

.cmp {
	box-sizing: border-box;
	display: flex;
	color: #bbb;
	font-size: 12px;
	cursor: pointer;
	background-color: var( --color-light-blue );
	filter: brightness( .86 );
}
.cmp .save {
	display: flex;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	width: 0;
	background-color: var( --color-light-red );
}
.cmp.notSaved .save {
	min-width: 30px;
}
.cmp .save:before {
	content: "\f0a0";
	font: 20px "FontAwesome";
	color: #ddd;
}
.cmp .info {
	flex: 1;
	padding: 4px;
	overflow: hidden;
	transition: padding-left .2s;
}
.cmp .info:hover {
	padding-left: 8px;
}
.cmp .menu {
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 20px;
}
.cmp .menu:before {
	content: "\f142";
	font: 18px "FontAwesome";
}
.cmp .menu:hover {
	color: #fff;
}
.cmp.loaded {
	filter: none;
}
.cmp + .cmp {
	border-top: 1px solid rgba( 0, 0, 0, .2 );
}
.cmp .name {
	overflow: hidden;
	color: #ddd;
	font-size: 13px;
	font-weight: bold;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.cmp.notSaved .name:before {
	content: "*";
}
.cmp .name:empty:after {
	font-style: italic;
	content: "Untitled";
}
.cmp .bpm {
	margin-right: 1em;
}
.cmp .bpm:before,
.cmp .duration:before {
	font-family: "FontAwesome";
	margin-right: .4em;
}
.cmp .bpm:before { content: "\f001"; }
.cmp .duration:before { content: "\f017"; }
