.absoluteMenu {
	position: absolute;
	z-index: 2;
	border: 2px solid #111;
	border-radius: 4px;
	background-color: #333;
	transition: .2s;
	transition-property: opacity, visibility;
}
.absoluteMenu.hidden {
	opacity: 0;
	visibility: hidden;
}
.absoluteMenu a {
	display: block;
	white-space: nowrap;
	font-size: 13px;
	line-height: 2em;
	padding: 0 .5em;
	color: #ddd;
	cursor: default;
	transition: .2s;
	transition-property: color, background-color;
}
.absoluteMenu a:hover {
	color: #fff;
	background-color: #222;
}
