html, body {
	height: 100%;
	margin: 0;
	font-family: sans-serif;
	background: #555;
}

::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background-color: #555; }
::-webkit-scrollbar-thumb { background-color: #888; }

a {
	color: inherit;
	text-decoration: none;
}

#app {
	--gsuiPanels-bdSize: 2px;
	--gsuiPanels-extendSize: 4px;
	--small-bd-radius: 2px;
	--ctrl-height: 44px;
	--ctrl-padding: 4px;
	--col1-low: #345;
	--col1-middle: #67a;
	--col1-high: #bbf;
	--col2-middle: #d44;
	--monospace: "Inconsolata", "consolas", monospace;

	width: 100%;
	height: 100%;
	overflow: hidden;

	user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}
