.cmp {
	box-sizing: border-box;
	display: flex;
	color: var( --cmp-text );
	height: var( --cmp-height );
	font-size: var( --cmp-text-size );
	line-height: var( --cmp-height );
	background-color: var( --cmp-bg );
	filter: brightness( .9 );
}
#cmpsLocalList .cmp { --cmp-bg: var( --cmp-local-bg ); }
#cmpsCloudList .cmp { --cmp-bg: var( --cmp-cloud-bg ); }
.cmp:nth-child( odd ) {
	filter: brightness( .85 );
}
.cmp.cmp-loaded {
	filter: none;
}
.cmp-loading {
	pointer-events: none;
}

/* .......................................................................... */
.cmp-btn {
	border: 0;
	padding: 0 8px;
	color: inherit;
	cursor: pointer;
	font-size: 16px;
	background: none;
}
.cmp-btn::before {
	font-family: "FontAwesome";
}
.cmp-btn-light {
	opacity: .3;
	transition: .2s opacity;
}
.cmp-btn:focus,
.cmp-btn:hover {
	font-weight: bold;
}
.cmp-btn-light:focus,
.cmp-btn-light:hover {
	opacity: .8;
}

/* .......................................................................... */
.cmp-save {
	width: 32px;
	background-color: var( --cmp-save-bg );
	transition: .2s;
	transition-property: margin-left, color, background-color, visibility;
}
.cmp-saved .cmp-save {
	visibility: hidden;
	margin-left: -32px;
}
.cmp-loading .cmp-save::before {
	content: "\f3f4";
	display: block;
	animation: .7s infinite linear rotate360;
}
.cmp-save:focus,
.cmp-save:hover {
	color: var( --cmp-save-bg );
	background-color: var( --cmp-text );
}

/* .......................................................................... */
.cmp-info {
	flex: 1;
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: space-between;
	padding: 6px 6px 4px;
	overflow: hidden;
	font-size: 13px;
	line-height: 1em;
	transition: .2s;
	transition-property: padding-left, opacity;
	opacity: .7;
}
.cmp-info:focus,
.cmp-info:hover,
.cmp-loaded .cmp-info {
	opacity: 1;
}
.cmp-info > div {
	pointer-events: none;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

/* .......................................................................... */
.cmp-name {
	max-width: 100%;
	font-weight: bold;
	border-radius: 2px;
	transition: .2s;
	transition-property: box-shadow, color, background-color;
}
.cmp-info:focus .cmp-name,
.cmp-info:hover .cmp-name {
	color: var( --cmp-bg );
	box-shadow: 0 0 0 2px var( --cmp-text );
	background-color: var( --cmp-text );
}
.cmp:not( .cmp-saved ) .cmp-name::before {
	content: "*";
}
.cmp-name:empty::after {
	font-style: italic;
	content: "Untitled";
}

/* .......................................................................... */
.cmp-duration {
	margin-right: 10px;
}
.cmp-bpm,
.cmp-duration {
	font: 14px var( --font-number );
}
.cmp-bpm::before,
.cmp-duration::before {
	display: inline-block;
	width: 1.25em;
	margin-right: 4px;
	font-family: "FontAwesome";
	text-align: center;
}

/* .......................................................................... */
.cmp-bpm::before { content: "\f3fd"; }
.cmp-save::before { content: "\f0c7"; font-weight: bold; }
.cmp-duration::before { content: "\f017"; }
#headCmp[ data-save-mode="cloud" ] .cmp-save::before,
#cmpsCloudList .cmp-save::before { content: "\f382"; }
.cmp-btn[ data-action="json" ]::before { content: "\f56e"; }
.cmp-btn[ data-action="delete" ]::before { content: "\f308"; }
