#cmps {
	left: var( --head-gap );
	width: 480px;
	grid-template-columns: 1fr 1fr;
	box-shadow: 12px var( --head-dropdown-shadow );
}

#cmps .windowBtn {
	color: var( --windowBtn-newCmp-color );
	margin-left: 8px;
}

#cmpsCloudList {
	border-left: 1px solid #444;
}

#app:not( .logged ) #cmpsCloudList .placeholder span:first-child,
#app.logged         #cmpsCloudList .placeholder span:last-child {
	display: none;
}
#app:not( .logged ) #cloudNewCmp {
	color: #888;
}
