#controls {
	display: flex;
	box-sizing: border-box;
	height: var( --ctrl-height );
	padding: var( --ctrl-padding );
	background-color: var( --ctrl-bg );
}

/* .ctrl-item */
/* .......................................................................... */
.ctrl-item {
	color: var( --ctrl-play-text );
	border-radius: var( --ctrl-rad );
	transition: .1s;
	transition-property: filter, background-color;
}
.ctrl-item + .ctrl-item {
	margin-left: 6px;
}
.ctrl-item:focus,
.ctrl-item:hover {
	filter: brightness( 1.2 );
}

/* .ctrl-btn */
/* .......................................................................... */
.ctrl-btn {
	border: 0;
	cursor: pointer;
	font-size: 14px;
	min-width: calc( var( --ctrl-height ) - 2 * var( --ctrl-padding ) );
}
a.ctrl-btn {
	display: flex;
	align-items: center;
	justify-content: center;
}
.ctrl-btn:focus,
.ctrl-btn:hover {
	font-weight: bold;
}
.ctrl-btn:active {
	padding-top: 4px;
	box-shadow: inset 0 3px 0px rgba( 0, 0, 0, .25 );
}

/* #togglePlay, #play, #stop */
/* .......................................................................... */
#togglePlay {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-width: 8px;
	height: 100%;
}
#togglePlay::before,
#togglePlay::after {
	box-sizing: border-box;
	content: "";
	width: 100%;
	height: 40%;
	border-radius: var( --ctrl-rad );
	background-color: var( --ctrl-toggleplay-bg );
}
#play,
#togglePlay.after::after,
#togglePlay:not( .after )::before {
	background-color: var( --ctrl-play-bg );
}
#stop {
	background-color: var( --ctrl-stop-bg );
}
#play::before,
#stop::before {
	font-family: "FontAwesome";
}

/* .gsuiClock, #bpm, #analyser */
/* .......................................................................... */
#bpm,
.gsuiClock {
	padding: 0 8px;
	padding-top: 1px;
	font-family: var( --font-number );
	font-size: 28px;
	filter: none;
	color: var( --ctrl-clock-text );
	background-color: var( --ctrl-clock-bg );
}
#bpm {
	display: flex;
	align-items: baseline;
}
#bpmText::before {
	font-size: var( --gsuiClock-mili-fontSize );
	opacity: var( --gsuiClock-mili-opacity );
}
#bpmText::before {
	content: "bpm";
	margin-left: 4px;
}
#analyser {
	width: 144px;
	filter: none;
	background-color: var( --ctrl-clock-bg );
}
#analyser .gsuiSpectrum {
	width: 100%;
	height: 100%;
	border-radius: var( --ctrl-rad );
}

/* .......................................................................... */
#render {
	color: var( --ctrl-render-text );
	font-size: 1.2em;
	font-family: "FontAwesome";
	background-color: var( --ctrl-render-bg );
}
#settings {
	margin-right: auto;
	font-size: 1.2em;
	font-family: "FontAwesome";
	background-color: var( --ctrl-settings-bg );
}
#cookies {
	color: #444;
	border: 0;
	padding-left: 6px;
	padding-right: 6px;
	font-size: 11px;
	font-weight: bold;
	background-color: var( --ctrl-eatcookie-bg );
}
#cookies::before {
	content: "\f563";
	font-size: 20px;
	font-weight: normal;
	font-family: "FontAwesome";
	margin-right: 6px;
}
#help,
#about,
#shortcuts {
	font-size: 21px;
	font-family: "FontAwesome";
	background-color: var( --ctrl-lightbtn-bg );
}
#about {
	color: var( --ctrl-about-bg );
}
#about:hover {
	color: #444;
	background-color: var( --ctrl-about-bg );
}

/* .......................................................................... */
#stop::before { content: "\f04d"; }
#play::before { content: "\f04b"; }
#help::before { content: "\f1cd"; }
#about::before { content: "\f135"; }
#render::before { content: "\f019"; }
#settings::before { content: "\f0ad"; }
#shortcuts::before { content: "\f11c"; }
#play.playing::before { content: "\f04c"; }
#cookies:hover::before { content: "\f564"; }
