#controls {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	height: var( --ctrl-height );
	padding: var( --ctrl-padding );
	border-bottom: 1px solid #000;
	background-color: #444;
}

/* .ctrl-item */
/* -------------------------------------------------------------------------- */
.ctrl-item {
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	color: #ddd;
	height: 100%;
	border-radius: var( --small-bd-radius );
	cursor: default;
	transition: filter .1s;
}
.ctrl-item + .ctrl-item {
	margin-left: 6px;
}
.ctrl-item:hover {
	filter: brightness( 1.2 );
}

/* .ctrl-btn */
/* -------------------------------------------------------------------------- */
.ctrl-btn {
	font-size: 14px;
	border: 1px solid rgba( 0, 0, 0, .7 );
	min-width: calc( var( --ctrl-height ) - 2 * var( --ctrl-padding ) );
}
.ctrl-btn:active {
	padding-top: 4px;
	box-shadow: inset 0 3px 0px rgba( 0, 0, 0, .25 );
}

/* #togglePlay */
/* -------------------------------------------------------------------------- */
#togglePlay {
	flex-direction: column;
	justify-content: space-between;
	min-width: 8px;
	height: 100%;
}
#togglePlay::before,
#togglePlay::after {
	box-sizing: border-box;
	content: "";
	width: 100%;
	height: 40%;
	border: 1px solid rgba( 0, 0, 0, .7 );
	border-radius: 2px;
	background-color: var( --col1-low );
}
#togglePlay:not( .after )::before,
#togglePlay.after::after {
	background-color: var( --col1-middle );
}

/* #play, #stop */
/* -------------------------------------------------------------------------- */
#play { background-color: var( --col1-middle ); }
#stop { background-color: #888; }

/* #bpm, #clock, #analyser */
/* -------------------------------------------------------------------------- */
#bpm,
#clock,
#analyser {
	font-size: 30px;
	font-family: var( --monospace );
	padding: 0 .3em;
	border: 3px solid rgba( 0, 0, 0, .3 );
	background-color: #222;
	filter: none;
}
#bpmText:before {
	content: "bpm";
	font-size: calc( 9px + .1em );
	margin-left: .5em;
	opacity: .5;
}
#clock {
	align-items: baseline;
	line-height: 1em;
}
#clockSec:before { content: ":"; }
#clockMs:before { content: "."; }
#clockMs {
	font-size: .5em;
}
#analyser {
	width: 144px;
	padding: 0;
}
#analyser .gsuiSpectrum {
	width: 100%;
	height: 100%;
}

/* #settings */
/* -------------------------------------------------------------------------- */
#settings {
	min-width: 46px;
	margin-right: auto;
	font-family: "FontAwesome";
	background-color: var( --col2-middle );
}
#settings:before { content: "\f001"; margin-right: .4em; }
#settings:after { content: "\f013"; }

/* #eatCookies */
/* -------------------------------------------------------------------------- */
#eatCookies {
	color: #444;
	border: 0;
	padding-left: 6px;
	padding-right: 6px;
	background-color: #f0c67e;
}
#eatCookies .icon {
	width: auto;
	margin-right: 6px;
	font-size: 20px;
}
#eatCookies .icon::before {
	content: "\f563";
	font-family: "FontAwesome";
}
#eatCookies:hover .icon::before {
	content: "\f564";
}
#eatCookies span {
	font-size: 11px;
	font-weight: bold;
}

/* #shortcuts */
/* -------------------------------------------------------------------------- */
#shortcuts {
	border: 0;
	font-size: 21px;
	background-color: rgba( 255, 255, 255, .1 );
}

/* #about */
/* -------------------------------------------------------------------------- */
#about {
	border: 0;
	color: #ff9;
	font-size: 21px;
	background-color: rgba( 255, 255, 255, .1 );
}
#about:hover {
	color: #505050;
	background-color: #ff9;
}
