@font-face { font-family: "Inconsolata";       src: url( "../../assets/inconsolata-regular.ttf" ); }
@font-face { font-family: "Oswald";            src: url( "../../assets/oswald-regular.ttf" ); }
@font-face { font-family: "FontAwesome";       src: url( "../../assets/fa-solid-900.woff" ) format( "woff" ); }
@font-face { font-family: "FontAwesomeBrands"; src: url( "../../assets/fa-brands-400.woff" ) format( "woff" ); }
