@font-face {
	font-family: "Inconsolata";
	src: url( "../../assets/inconsolata-regular.ttf" );
}

@font-face {
	font-family: "FontAwesome";
	src: url( "../../assets/fontawesome-solid-900.woff" ) format( "woff" );
	/*src: url( "../../assets/fontawesome-regular-400.woff" ) format( "woff" );*/
	/*src: url( "../../assets/fontawesome-light-300.woff" ) format( "woff" );*/
}

@font-face {
	font-family: "FontAwesomeBrands";
	src: url( "../../assets/fontawesome-brands-900.ttf" ) format( "woff" );
}

@font-face {
	font-family: "title";
	src: url( "../../assets/oswald-regular.ttf" );
}

.icon {
	position: relative;
	display: inline-block;
	font-family: "FontAwesome";
	font-weight: normal;
	text-align: center;
	text-indent: 0;
	width: 1.25em;
}

.icon:after {
	position: absolute;
	left: 10px;
	top: -3px;
	font-size: 8px;
}
.ico--plus:after { content: "\f067"; }
.ico--minus:after { content: "\f068"; }

.ico-play:before { content: "\f04b"; }
.ico-pause:before { content: "\f04c"; }
.ico-stop:before { content: "\f04d"; }
.ico-undo:before { content: "\f2ea"; } /* f0e2 f2ea */
.ico-redo:before { content: "\f2f9"; } /* f01e f2f9 */
.ico-mute:before { content: "\f026"; }
.ico-unmute:before { content: "\f028"; }
.ico-name:before { content: "\f040"; }
.ico-paint:before { content: "\f1fc"; }
.ico-clock:before { content: "\f017"; }
.ico-move:before { content: "\f0b2"; }
.ico-crop:before { content: "\f125"; }
.ico-history:before { content: "\f1da"; }
.ico-pattern:before { content: "\f386"; } /* f385 f386 */
.ico-new:before { content: "\f067"; }
.ico-remove:before { content: "\f1f8"; } /* f1f8 f2ed */
.ico-erase:before { content: "\f12d"; }
.ico-toggle-off:before { content: "\f204"; }
.ico-toggle-on:before { content: "\f205"; }
.ico-add:before { content: "\f067"; }
.ico-selection:before { content: "\f245"; }

.ico-chrome:before { content: "\f268"; }
.ico-edge:before { content: "\f282"; }
.ico-firefox:before { content: "\f269"; }
.ico-iexplorer:before { content: "\f26b"; }
.ico-opera:before { content: "\f26a"; }
.ico-safari:before { content: "\f267"; }

.ico-facebook:before { content: "\f09a"; }
.ico-github:before { content: "\f09b"; } /* f113 */
.ico-gratipay:before { content: "\f184"; }
.ico-twitter:before { content: "\f099"; }
.ico-youtube:before { content: "\f167"; }

.ico-pattern { transform: scale( -1, 1 ); }
