#head {
	position: relative;
	display: grid;
	z-index: 1000; /* 1. */
	color: #ddd;
	font-size: 16px;
	padding: var( --head-gap );
	grid-gap: var( --head-gap );
	grid-template:
		"header ctrlA       ctrlB       .   headHelp  " var( --head-heightA )
		"cmp    currentTime winBtns     .   headVersion" var( --head-heightB )
		/260px  min-content min-content 1fr min-content;
	background-color: var( --head-bg );
	border-bottom: var( --head-border );
}

/* .......................................................................... */
a.btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}
.btn {
	border: 0;
	padding: 0;
	outline: 0;
	color: inherit;
	cursor: pointer;
	font-size: inherit;
	border-radius: 4px;
	background: none;
	transition: var( --head-hover-dur );
	transition-property: color, opacity, background-color;
	user-select: none;
}
.btn:not( .gsuiIcon ) {
	font-family: inherit;
}
.btnMarge + .btnMarge {
	margin-left: var( --head-gap );
}
.btn:focus {
	z-index: 1;
	position: relative;
	box-shadow: 0 0 1px 2px #69b;
}
.btn.gsuiIcon:focus,
.btn.gsuiIcon:hover {
	color: #fff;
}
.btnBg {
	background-color: #ffffff1a;
}
.btnBg:focus,
.btnBg:hover {
	background-color: #fff3;
}
.btnLarge {
	width: var( --head-heightA );
	min-width: var( --head-heightA );
}
.btnIconLarge {
	font-size: calc( var( --head-heightA ) - 8px );
}

/* .......................................................................... */
.btnGroup .btn:first-of-type {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.btnGroup .btn:last-of-type {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.btnGroup .btn {
	margin-left: 0;
	border-radius: 0;
	transition: color var( --head-hover-dur );
}
.btnGroup .btn:hover {
	color: #fff;
}

/* .......................................................................... */
#header {
	grid-area: header;
	display: flex;
}
#title {
	align-self: center;
	font-size: 28px;
	font-family: var( --font-oswald );
	margin-right: 4px;
}
#title::before {
	content: attr( data-text );
}
#headUser {
	border: 2px solid #222;
	box-sizing: border-box;
	margin-left: var( --head-gap );
	background-size: cover;
	background-color: rgba( 255, 255, 255, .3 );
}
#app.logged #login,
#app:not( .logged ) #logout,
#app:not( .logged ) #headUser {
	display: none;
}
#login,
#logout {
	margin-left: 4px;
	opacity: .7;
}

/* .......................................................................... */
#cmpsBtn {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	margin-left: 4px;
	color: var( --head-cmps-btn );
}
#cmpsBtn .gsuiIcon[ data-icon="plus" ] {
	margin-left: 4px;
	font-size: 14px;
}
#cmpsBtn:focus,
#cmpsBtn:hover {
	color: var( --head-bg );
	background-color: var( --head-cmps-btn );
}

/* .......................................................................... */
#headCmp {
	grid-area: cmp;
	display: flex;
	overflow: hidden;
	border-radius: 4px;
	line-height: var( --head-heightB );
	background-color: var( --cmp-local-bg );
}
#headCmpSave {
	border-radius: 0;
}
#headCmpInfo {
	flex: 1;
	display: flex;
	overflow: hidden;
	align-items: center;
	padding: 0 4px;
	font-size: 14px;
}
#headCmpName {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: left;
	padding-right: .4ch;
}
#headCmpIcon {
	display: none;
	margin-right: .3em;
}
#headCmp.cmp-saved #headCmpIcon {
	display: inline-block;
}
#headCmp:not( .cmp-saved ) #headCmpName::before {
	content: "*";
}
#headCmpName:empty::after {
	content: "Untitled";
	font-style: italic;
	padding-right: 1px;
	opacity: .8;
}
#headCmpHover {
	width: 0;
	display: inline-block;
	overflow: hidden;
	position: relative;
	transition: .1s;
	transition-property: width, margin-left;
}
#headCmpInfo:focus #headCmpHover,
#headCmpInfo:hover #headCmpHover {
	width: 1.4ch;
	margin-left: 4px;
}
#headCmpDur::before {
	content: "·";
	margin: 4px;
}

/* .......................................................................... */
#headGain {
	width: 6px;
	--gsuiSlider-lineRadius: 4px;
	--gsuiSlider-lineColor: var( --ctrl-play-bg );
	--gsuiSlider-lineBgColor: #222;
}
#headGain .gsuiSlider-eventCatcher {
	left: -12px;
	right: -4px;
}

/* .......................................................................... */
#headCurrentTime {
	grid-area: currentTime;
	padding: 10px;
	border-radius: 4px;
	background-color: var( --ctrl-currentTime-bg );
	--gsuiSlider-lineColor: var( --ctrl-currentTime-color );
	--gsuiSlider-lineBgColor: #222;
}
#headCurrentTime .gsuiSlider-eventCatcher {
	top: -10px;
	left: -10px;
	right: -10px;
	bottom: -10px;
}

/* .......................................................................... */
#ctrlA {
	grid-area: ctrlA;
	display: flex;
}

/* .......................................................................... */
#headPlay {
	display: flex;
}
.playBtn {
	background-color: var( --ctrl-play-bg );
}
#playToggle {
	padding: 6px 5px 6px 7px;
	display: flex;
	overflow: hidden;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
}
#playToggle span {
	width: 8px;
	height: 8px;
	box-sizing: border-box;
	border: 2px solid;
	border-radius: 2px;
}
#playToggle[ data-dir="up" ] span:first-child,
#playToggle[ data-dir="down" ] span:last-child {
	background-color: currentColor;
}
#stop {
	margin-left: -3px;
}

/* .......................................................................... */
#headTempo {
	display: flex;
	align-items: center;
	white-space: nowrap;
	background-color: #222;
}
#timeSignature {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	height: 40%;
	padding: 0 6px 0 8px;
	font-size: 14px;
	line-height: 0;
	font-family: var( --font-number );
}
#bpm {
	display: flex;
	align-items: baseline;
	padding-right: 7px;
	font-size: var( --bpm-fontSize );
	font-family: var( --font-number );
}
#bpm::after {
	content: "bpm";
	margin-left: 2px;
	font-size: 14px;
	opacity: .5;
}

/* .......................................................................... */
#ctrlB {
	grid-area: ctrlB;
	display: flex;
}

/* .......................................................................... */
#headHist {
	display: inline-flex;
	user-select: none;
}
#headHist .btn {
	background-color: #777;
}
#redo {
	margin-left: -4px;
}
#undoMore {
	padding: 0 6px 0 3px;
}

/* .......................................................................... */
#headAnalyser {
	width: 140px;
	border-radius: 4px;
	background-color: #000;
	filter: saturate( .5 ) contrast( .76 );
}

/* .......................................................................... */
#headExport {
	color: var( --ctrl-render-color );
}

/* .......................................................................... */
#winBtns {
	grid-area: winBtns;
	display: flex;
	white-space: nowrap;
}
.winBtn {
	padding: 2px 6px;
	font-size: 12px;
	font-weight: bold;
	border-radius: 0;
	background-color: var( --head-winBtn-bg );
	transition: var( --head-hover-dur );
	transition-property: color, background-color, box-shadow;
}
.winBtn:first-child {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
.winBtn:last-child {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.winBtn + .winBtn {
	margin-left: 0;
	border-left: 1px dashed rgba( 0, 0, 0, .2 );
}
.winBtn-open {
	color: var( --head-bg );
	background-color: var( --head-winBtn-open-bg );
}
.winBtn::before {
	content: attr( data-text );
}

/* .......................................................................... */
#headHelp {
	grid-area: headHelp;
	display: flex;
}
#cookies {
	animation: infinite cookie-anim 5s;
}
#helpAbout {
	color: var( --ctrl-about-color );
}

@keyframes cookie-anim {
	30% { box-shadow: none; }
	35% { box-shadow: 0 0 0 3px var( --ctrl-eatcookie-color ); }
	100% { box-shadow: 0 0 0 3px transparent; }
}

/* .......................................................................... */
#headVersion {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	grid-area: headVersion;
	user-select: none;
}
#headVersionBtn {
	display: flex;
	align-items: center;
	border: 0;
	padding: 0;
	outline: 0;
	border-radius: 4px;
	font-size: 18px;
	color: inherit;
	cursor: pointer;
	opacity: .3;
	background: none;
	transition: opacity var( --head-hover-dur );
}
#headVersionBtn:focus {
	box-shadow: 0 0 1px 2px #69b;
}
#headVersionBtn:focus,
#headVersionBtn:hover {
	opacity: 1;
}
#headVersionNum {
	margin-left: 6px;
	font-family: var( --font-number );
}

/*
	1. z-index: 1000 to be on top on all the windows possible.
*/
