.headDropdown {
	position: absolute;
	overflow: hidden;
	display: grid;
	height: 320px;
	grid-template-rows: 32px 1fr;
	box-sizing: border-box;
	top: calc( 100% + var( --head-gap ) );
	z-index: 1;
	outline: 0;
	border: 2px solid #444;
	border-radius: 4px;
	transition: .2s;
	transition-property: opacity, visibility;
}
.headDropdown:focus {
	border-color: #69b;
}
.headDropdown:focus-within {
	z-index: 2;
}
.headDropdown-btn:not( :focus ) + .headDropdown:not( :focus-within ) {
	opacity: 0;
	visibility: hidden;
}

.headDropdown-head {
	display: flex;
	align-items: center;
	color: #222;
	font-size: 14px;
	background-color: #888;
	user-select: none;
}
.headDropdown-icon {
	margin: 0 6px;
	font-size: 16px;
}
.headDropdown-title {
	font-weight: bold;
}

.headDropdown-list {
	overflow: auto;
	background-color: #444;
}

.headDropdown-backdrop {
	position: absolute;
	top: 68px;
	left: 0;
	right: 0;
	bottom: -1000px;
	opacity: 0;
	visibility: hidden;
	backdrop-filter: blur( 10px );
	background-color: #0009;
	transition: .4s;
	transition-property: visibility, opacity;
}
.headDropdown-btn:focus ~ .headDropdown-backdrop,
.headDropdown:focus-within + .headDropdown-backdrop {
	visibility: visible;
	opacity: 1;
}
