#header {
	display: flex;
	align-items: center;
	height: var( --ctrl-height );
	padding: 0 8px 0 6px;
	border-bottom: 0;
	color: #fff;
	font-size: 28px;
	font-weight: normal;
	cursor: default;
	background-color: #444;
}
#headerTitle::before {
	display: block;
	content: "GridSound";
	font-family: var( --font-oswald );
}
#pan-leftside.small #headerTitle::before {
	content: "GS";
}

/* .......................................................................... */
#userlink {
	width: 32px;
	height: 32px;
	margin-left: 10px;
	border: 2px solid #222;
	box-sizing: border-box;
	border-radius: 4px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
#login,
#logout {
	overflow: hidden;
	margin-left: 10px;
	cursor: pointer;
	color: inherit;
	border: 0;
	padding: 0;
	font-size: 24px;
	font-family: "FontAwesome";
	opacity: .5;
	background-color: transparent;
	transition: .2s opacity;
}
#login.loading,
#login:focus,
#login:hover,
#logout:focus,
#logout:hover {
	font-weight: bold;
	opacity: .8;
}
#app.logged #login,
#app:not( .logged ) #logout,
#app:not( .logged ) #userlink {
	display: none;
}
#login::before,
#logout::before {
	width: 1em;
	display: inline-block;
}
#login::before { content: "\f2bd"; }
#logout::before { content: "\f08b"; }
#app.logging #login::before,
#app.logging #logout::before {
	content: "\f3f4";
	animation: .7s infinite linear rotate360;
}

/* .......................................................................... */
#appGainWrap {
	width: 4px;
	height: 35px;
	align-self: flex-end;
	margin: 0 0 4px auto;
	--gsuiSlider-lineColor: #ff9;
	--gsuiSlider-lineBgColor: #222;
}

/* .......................................................................... */
#app:not( .logged ) #cloudCmps .panelPlaceholder span:first-child,
#app.logged         #cloudCmps .panelPlaceholder span:last-child {
	display: none;
}
