.historyAction {
	display: flex;
	box-sizing: border-box;
	align-items: center;
	cursor: pointer;
	height: 30px;
	padding: 0 6px;
	color: var( --history-action-text );
	font-size: 14px;
	font-family: var( --font-monospace );
	background-color: var( --history-action-bg );
	transition: filter .2s;
}
.historyAction:hover {
	filter: brightness( 1.3 );
}

/* -------------------------------------------------------------------------- */
.historyAction::before {
	content: "";
	display: block;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	transition: inherit;
	background-color: var( --history-actionlight-bg );
}
.historyAction-undone:not( :hover )::before {
	background-color: var( --history-actionlightoff-bg );
}

/* -------------------------------------------------------------------------- */
.historyAction-icon {
	width: 1.4ch;
	margin: 0 6px;
	text-align: center;
}
.historyAction-text {
	flex: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	transition-duration: inherit;
	transition-property: opacity;
}
.historyAction-undone .historyAction-icon,
.historyAction-undone .historyAction-text {
	opacity: .6;
}
