.historyAction {
	display: flex;
	box-sizing: border-box;
	align-items: center;
	cursor: default;
	height: 28px;
	padding-right: .4em;
	color: var( --history-action-text );
	font-size: 13px;
	font-family: var( --monospace );
	background-color: var( --history-action-bg );
	transition: filter .2s;
}
.historyAction:hover {
	filter: brightness( 1.3 );
}

/* -------------------------------------------------------------------------- */
.historyAction::before {
	content: "";
	display: block;
	align-self: flex-start;
	width: 4px;
	height: calc( 100% - 1px );
	transition: inherit;
	background-color: var( --history-actionlight-bg );
}
.historyAction-undone::before {
	background-color: var( --history-actionlightoff-bg );
}

/* -------------------------------------------------------------------------- */
.historyAction-icon {
	margin: 0 .4em;
}
.historyAction-text {
	flex: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	transition-duration: inherit;
	transition-property: opacity;
}
.historyAction-undone:not(:hover) .historyAction-icon,
.historyAction-undone:not(:hover) .historyAction-text {
	opacity: .5;
}
