.icon {
	position: relative;
	display: inline-block;
	font-family: "FontAwesome";
	font-weight: normal;
	font-style: normal;
	text-align: center;
	text-indent: 0;
	width: 1.25em;
}

.ico-brand {
	font-family: "FontAwesomeBrands";
}

.icon::after {
	position: absolute;
	left: 10px;
	top: -3px;
	font-size: 8px;
}
.ico--plus::after { content: "\f067"; }
.ico--minus::after { content: "\f068"; }

.ico-times::before { content: "\f2d3"; }
.ico-caret-up::before { content: "\f0d8"; }
.ico-caret-down::before { content: "\f0d7"; }
.ico-caret-left::before { content: "\f0d9"; }
.ico-caret-right::before { content: "\f0da"; }
.ico-3dots::before { content: "\f142"; }
.ico-help::before { content: "\f1cd"; }
.ico-play::before { content: "\f04b"; }
.ico-pause::before { content: "\f04c"; }
.ico-stop::before { content: "\f04d"; }
.ico-undo::before { content: "\f2ea"; } /* f0e2 f2ea */
.ico-redo::before { content: "\f2f9"; } /* f01e f2f9 */
.ico-mute::before { content: "\f026"; }
.ico-unmute::before { content: "\f028"; }
.ico-name::before { content: "\f040"; }
.ico-paint::before { content: "\f1fc"; }
.ico-clock::before { content: "\f017"; }
.ico-loop::before { content: "\f364"; }
.ico-move::before { content: "\f0b2"; }
.ico-crop::before { content: "\f125"; }
.ico-history::before { content: "\f1da"; }
.ico-synth::before { content: "\f3f1"; }
.ico-pattern::before { content: "\f38a"; }
.ico-new::before { content: "\f067"; }
.ico-clone::before { content: "\f24d"; }
.ico-remove::before { content: "\f1f8"; } /* f1f8 f2ed */
.ico-erase::before { content: "\f12d"; }
.ico-param::before { content: "\f3f1"; }
.ico-envelope::before { content: "\f5b7"; }
.ico-toggle-off::before { content: "\f204"; }
.ico-toggle-on::before { content: "\f205"; }
.ico-add::before { content: "\f067"; }
.ico-selection::before { content: "\f245"; }
.ico-keyboard::before { content: "\f11c"; }
.ico-arrows-v::before { content: "\f338"; }
.ico-tint::before { content:"\f043"; }
.ico-cmd::before { content: "⌘"; font-family: sans-serif; }
.ico-rocket::before { content: "\f135"; }

.ico-chrome::before { content: "\f268"; }
.ico-edge::before { content: "\f282"; }
.ico-firefox::before { content: "\f269"; }
.ico-iexplorer::before { content: "\f26b"; }
.ico-opera::before { content: "\f26a"; }
.ico-safari::before { content: "\f267"; }

/* .ico-gratipay::before { content: "\f184"; } RIP */
.ico-patreon::before { content: "\f3d9"; }
.ico-facebook::before { content: "\f09a"; }
.ico-github::before { content: "\f09b"; } /* f113 */
.ico-github-alt::before { content: "\f113"; } /* f113 */
.ico-twitter::before { content: "\f099"; }
.ico-youtube::before { content: "\f167"; }
.ico-codepen::before { content: "\f1cb"; }
.ico-discord::before { content: "\f392"; }

.ico-pattern { transform: scale( -1, 1 ); }
