/* --- #keysMenu ----------------------------------------------------------- */
#keysMenu {
	position: relative;
	display: flex;
	align-items: center;
	padding: 6px;
	font-size: 12px;
	color: #ddd;
	border-bottom: 1px solid #111;
	background-color: #444;
}
#keysMenu:before {
	content: "Pattern :";
	font-style: italic;
	font-weight: bold;
	font-size: 11px;
	text-shadow: 1px 1px 0 #000;
	opacity: .35;
}

/* --- #keysSelect --------------------------------------------------------- */
#keysSelect {
	display: flex;
	overflow: hidden;
	margin-left: .75em;
	border-radius: 4px;
	line-height: 1em;
	cursor: default;
	background-color: var( --color-light-blue );
}
#keysName:hover,
#keysListBtn:hover {
	color: #fff;
	text-shadow: 0 0 10px #fff;
}
#keysName {
	padding: 4px 4px 4px 8px;
	font-family: var( --monospace );
}
#keysName:empty:before {
	content: "Untitled";
	font-style: italic;
}
#keysListBtn {
	padding: 4px 8px 4px 4px;
	font-family: "FontAwesome";
	background-color: inherit;
	filter: brightness( .9 );
}
#keysListBtn.close {
	filter: none;
}
#keysListBtn:before { content: "\f0d8"; }
#keysListBtn.close:before { content: "\f0d7"; }
#keysList {
	top: 100%;
	margin-top: 6px;
	min-width: 120px;
}
#keysListBtn.close + #keysList {
	opacity: 0;
	visibility: hidden;
}
