#loading {
	display: flex;
	z-index: 2147483646;
	position: absolute;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	color: #fff8;
	user-select: none;
	-webkit-user-select: none;
	background-color: #333;
	transition: .5s opacity;
}
#loading.started {
	pointer-events: none;
	opacity: 0;
}

#loadingContent {
	position: relative;
	pointer-events: none;
	text-align: center;
}

#loadingTitle {
	position: relative;
	font: 52px var( --font-oswald );
}

#loadingLoading,
#loadingLoaded,
#loadingStarting {
	position: absolute;
	left: 0;
	width: 100%;
	opacity: 0;
}
#loading.loaded:not( .starting ) #loadingLoaded {
	animation: 1s loadingTextAnim linear infinite alternate;
}
#loading:not( .loaded ):not( .starting ) #loadingLoading,
#loading.starting #loadingStarting {
	opacity: 1;
}
#gsTitle {
	margin-bottom: 16px;
}

@keyframes loadingTextAnim {
	from { opacity: 0; }
	to { opacity: 1; }
}
