#pan-leftside {
	flex: none;
	width: 220px;
	min-width: 160px;
	max-width: 300px;
}

/* ......................................................................... */
.panel-left {
	display: flex;
	flex-direction: column;
}

/* ......................................................................... */
.panel-title,
.panel-menu {
	box-sizing: border-box;
	padding: 3px 10px;
	font-size: 13px;
	border-bottom: var( --pan-border );
}
.panel-title {
	display: flex;
	align-items: center;
	min-height: 24px;
	color: #222;
	font-weight: bold;
	background-color: #666;
}
.panel-title .icon {
	margin-right: 4px;
}

/* ......................................................................... */
.panel-menu {
	display: flex;
	color: #ddd;
	background-color: #505050;
}

/* ......................................................................... */
.panel-btn {
	padding: 4px;
	font-size: 14px;
	border-radius: 2px;
	transition: background .2s;
}
.panel-btn + .panel-btn {
	margin-left: .5em;
}
.panel-btn:hover {
	background-color: rgba( 0, 0, 0, .2 );
}

/* ......................................................................... */
.panel-body {
	flex: 1;
	overflow: auto;
	background-color: #555;
}

/* ......................................................................... */
.panel-placeholder {
	display: none;
	padding: 16px;
	text-align: center;
	font-size: 12px;
	color: #fff;
	opacity: .4;
}
.panel-placeholder:only-child {
	display: block;
}
