.pan-synth-pianoroll .pan-menu {
	position: relative;
	display: flex;
	align-items: center;
	padding: 4px 6px;
	font-size: 12px;
	color: #ddd;
	background-color: #444;
}
.pan-synth-pianoroll .pan-menu::before {
	font-style: italic;
	font-weight: bold;
	font-size: 11px;
	text-shadow: 1px 1px 0 #000;
	opacity: .35;
}

.pan-synth-pianoroll .pan-name {
	margin-left: .75em;
	padding: 4px 8px;
	border-radius: 4px;
	font-family: var( --monospace );
	cursor: default;
	transition: filter .2s;
}
.pan-synth-pianoroll .pan-name:empty:before {
	content: "Untitled";
	font-style: italic;
}
.pan-synth-pianoroll .pan-name:hover {
	color: #fff;
	filter: brightness( 1.1 );
}
