#pan-cmps {
	min-height: 118px;
	height: 200px;
	flex: none;
	position: relative;
}

#pan-cmps .panel-title {
	display: flex;
	align-items: center;
	height: var( --ctrl-height );
	padding-top: 0;
	padding-bottom: 0;
	border-bottom: 0;
	color: #fff;
	font-size: 28px;
	font-weight: normal;
	cursor: default;
	background-color: #444;
}
#pan-cmps .panel-menu {
	border-top: var( --pan-border );
}

#title::before {
	display: block;
	content: "GridSound";
	font-family: "Oswald";
}
#pan-leftside.small #title::before {
	content: "GS";
}

/* ......................................................................... */
#userlink {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 32px;
	height: 32px;
	box-sizing: border-box;
	border-radius: 4px;
	background: no-repeat center;
	background-size: cover;
}
#userlink,
#logout {
	margin-left: 10px;
	cursor: pointer;
	font-size: 24px;
	font-family: "FontAwesome";
	opacity: .5;
	transition: .2s opacity;
}
#userlink.loading,
#userlink:hover,
#logout:hover {
	opacity: .8;
}
#userlink::before {
	content: "\f2bd";
}
#userlink.loaded {
	opacity: 1;
	border: 2px solid #222;
}
#userlink.loaded::before {
	content: "";
}
#userlink.loading::before {
	content: "\f3f4";
	display: inline-block;
	animation: .7s infinite linear rotate360;
}
#userlink:not( .loaded ) + #logout {
	display: none;
}
#logout::before {
	content: "\f08b";
}

/* ......................................................................... */
#appGainWrap {
	width: 4px;
	height: 35px;
	align-self: flex-end;
	margin: 0 0 4px auto;
	--gsuiSlider-lineColor: #ff9;
	--gsuiSlider-lineBgColor: #222;
}

#cmpMenu {
	left: 100%;
	margin-left: 5px;
}

/* ......................................................................... */
.cmps-btn {
	display: inline-flex;
	box-sizing: border-box;
	align-items: center;
	padding: 0 6px;
	border: 1px solid rgba( 255, 255, 153, .2 );
	border-radius: 8px;
	font-size: 11px;
	color: #ff9;
	height: 24px;
	transition: .5s;
	transition-property: background-color;
}
.cmps-btn + .cmps-btn {
	margin-left: 10px;
}
.cmps-btn:hover {
	color: #505050;
	background-color: #ff9;
}
.cmps-btn::before {
	font-family: "FontAwesome";
}
#newComposition { border-style: dashed; }
#newComposition::before { content: "\f067"; }
#openComposition::before { content: "\f07c"; }
#renderComposition::before { content: "\f019"; }
.cmps-btn::after {
	content: attr( data-text );
	margin-left: .4em;
}
#pan-leftside.small .cmps-btn::after {
	display: none;
}
