#pan-cmps {
	min-height: 114px;
	height: 200px;
	flex: none;	
	position: relative;
}

#pan-cmps .panel-title {
	display: flex;
	align-items: baseline;
	height: var( --ctrl-height );
	padding-top: 0;
	padding-bottom: 0;
	color: #fff;
	font-weight: normal;
	cursor: default;
	background-color: #444;
}

#title:before {
	display: block;
	margin-top: 3px;
	content: "GridSound";
	font-family: "Oswald";
	font-size: 28px;
}

#appGainWrap {
	width: 4px;
	height: 35px;
	align-self: flex-end;
	margin: 0 0 4px auto;
	--gsuiSlider-lineColor: #ff9;
	--gsuiSlider-lineBgColor: #222;
}

#cmpMenu {
	left: 100%;
	margin-left: 5px;
}

#pan-cmps .panel-btn {
	display: inline-flex;
	box-sizing: border-box;
	align-items: center;
	padding: 0 6px;
	border: 1px solid rgba( 255, 255, 153, .2 );
	border-radius: 8px;
	font-size: 11px;
	color: #ff9;
	height: 24px;
	transition: .5s;
	transition-property: background-color;
}

#pan-cmps .panel-btn::before {
	margin-right: 4px;
	font-family: "FontAwesome";
}

#pan-cmps .panel-btn:hover {
	color: #505050;
	background-color: #ff9;
}

#pan-cmps #newComposition {
	border-style: dashed;
}

#newComposition::before { content: "\f067"; }
#openComposition::before { content: "\f019"; }
