#pan-synth {
	flex: none;
	width: 300px;
	min-width: 280px;
	max-width: 340px;
}

#pan-synth .pan-menu::before {
	content: "Synthesizer\A0:";
}

#synthName {
	background-color: var( --synth-namebtn-bg );
}

#synthWrapper {
	position: relative;
	flex: 1;
}

#synthWrapper2 {
	position: absolute;
	width: 100%;
	height: 100%;
}

.gsuiSynthesizer {
	height: 400px;
	max-height: 100%;
}
