#pan-maingrid,
#pan-pianoroll,
#pan-synth {
	display: flex;
	flex-direction: column;
}

#pan-maingrid {
	min-height: 150px;
	height: 215px;
	flex: none;
}

#mainGridWrap,
#keysGridWrap,
#synthOscs {
	flex: 1;
}

#mainGridWrap .gsuiTrack-row > div {
	top: -1px;
}

.gsuiPatternroll {
	height: 100%;
}

.gsuiBeatlines {
	transition: background-color .2s;
}
#mainGridWrap:not( .focus ) .gsuiBeatlines,
#keysGridWrap:not( .focus ) .gsuiBeatlines {
	filter: brightness( .9 );
}
