#pianorollName {
	background-color: var( --pattern-namebtn-bg );
}

#pianorollBlock {
	display: flex;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	position: absolute;
	z-index: 1000000; /* 1. */
	width: 100%;
	height: 100%;
	background-color: rgba( 0, 0, 0, .7 );
	opacity: 0;
	visibility: hidden;
	transition: .2s;
	transition-property: opacity, visibility;
}
#pianorollBlock.show {
	opacity: 1;
	visibility: visible;
}
#pianorollBlock::before {
	content: "No pattern selected...";
	display: block;
	padding: 18px;
	border-radius: 4px;
	font-size: 12px;
	font-weight: bold;
	font-style: italic;
	background-color: rgba( 255, 255, 255, .1 );
	color: #ddd;
}

.gsuiPianoroll {
	height: 100%;
}

/*
1.
	z-index: 1million; because of gsuiSliderGroup
*/
