#panelHistory {
}

.action {
	display: flex;
	box-sizing: border-box;
	align-items: center;
	cursor: default;
	height: 28px;
	padding-right: .4em;
	color: #bbb;
	font-size: 13px;
	font-family: var( --monospace );
	background-color: #333;
	transition: background-color .2s;
}
.action + .action {
	border-top: 1px solid #222;
}
.action:hover {
	background-color: #444;
}

.action:before {
	content: "";
	display: block;
	width: 4px;
	height: 100%;
	background-color: var( --col1-middle );
	transition: inherit;
}
.action.undone:before {
	background-color: #000;
}

.actionText {
	flex: 1;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	transition-property: opacity;
	transition-duration: inherit;
}
.action.undone .actionText {
	opacity: .5;
}

.actionIcon {
	position: relative;
	width: 16px;
	margin: 0 .4em;
	font: 14px "FontAwesome";
	text-align: center;
}
.actionIcon:after {
	position: absolute;
	left: 10px;
	top: -3px;
	font-size: 8px;
}
.actionIcon.plus:after { content: "\f067"; }
.actionIcon.minus:after { content: "\f068"; }

.actionIcon.clock:before { content: "\f017"; }
.actionIcon.name:before { content: "\f040"; }
.actionIcon.mute:before { content: "\f026"; }
.actionIcon.unmute:before { content: "\f028"; }
.actionIcon.toggle-off:before { content: "\f204"; }
.actionIcon.toggle-on:before { content: "\f205"; }
.actionIcon.paint:before { content: "\f1fc"; }
.actionIcon.add:before { content: "\f067"; }
.actionIcon.remove:before { content: "\f1f8"; }
.actionIcon.erase:before { content: "\f12d"; }
.actionIcon.selection:before { content: "\f245"; }
