#panelCmps {
	position: relative;
	background-color: #444;
}

#panelCmps .panel-title {
	display: flex;
	align-items: baseline;
	height: var( --ctrl-height );
	padding-top: 0;
	padding-bottom: 0;
	color: #fff;
	font-weight: normal;
	cursor: default;
	background: none;
}

#title:before {
	content: "GridSound";
	font-family: "title";
	font-size: 28px;
}

#cmpMenu {
	left: 100%;
	margin-left: 5px;
}
