#patterns {
	position: relative;
}

#patNew:before { content: "\f067"; }
#patDelete:before { content: "\f1f8"; }

#patterns .gsuiAudioBlock {
	position: relative;
	width: 100%;
	height: 64px;
	--bd-radius: 0;
}
#patterns .gsuiAudioBlock + .gsuiAudioBlock {
	/*border-top: 1px solid #222;*/
}
#patterns .gsuiAudioBlock:hover {
	/*background-color: #444;*/
}
#patterns .gsuiAudioBlock.selected {
	background-color: var( --color-light-blue );
}
