#panelsMain > .gsui-panel:last-child {
	width: calc( 100% - 300px );
}

#panelsMain > .gsui-panel:last-child > .gsuiPanels > .gsui-panel:first-child {
	min-height: 400px;
	height: 0;
}

#panelsMain > .gsui-panel:last-child > .gsuiPanels > .gsui-panel:last-child {
	height: calc( 100% - 400px );
}

#mainGridWrap,
#keysGridWrap {
	flex: 1;
}

#mainGridWrap .gsuiTrack-row > div {
	top: -1px;
}

.gsuiGridSamples {
	background-color: #2f2f2f;
}
