#patterns {
	position: relative;
}

#patNew:before { content: "\f067"; }
#patRemove:before { content: "\f1f8"; }

#patterns .gsuiAudioBlock {
	position: relative;
	width: 100%;
	height: 64px;
	color: #bbb;
	--bd-radius: 0;
}
#patterns .gsuiAudioBlock.selected {
	color: var( --col1-high );
}
#patterns .gsuiAudioBlock.selected .gsui-head:before {
	content: "\f115";
	font-family: "FontAwesome";
	font-weight: normal;
}
