#pan-leftside {
	flex: none;
	width: 220px;
	min-width: 160px;
	max-width: 300px;
}
#pan-cloud {
	height: 160px;
	min-height: calc( 69px + var( --cmp-height ) );
}
#pan-local {
	height: 120px;
	min-height: calc( 26px + var( --cmp-height ) );
}
#pan-history {
	flex: none;
	height: 24px;
	min-height: 24px;
}
#pan-maingrid {
	flex: none;
	height: 215px;
	min-height: 150px;
}
#pan-mixer {
	height: 210px;
	min-height: 20px;
	max-height: 400px;
}
#pan-channels {
	width: 400px;
	min-width: 100px;
	max-width: 650px;
}
#pan-synth {
	flex: none;
	width: 300px;
	min-width: 280px;
	max-width: 340px;
}

/* ......................................................................... */
#synthWrapper {
	flex: 1;
	position: relative;
}
#synthWrapper2 {
	position: absolute;
	width: 100%;
	height: 100%;
}

/* .......................................................................... */
#pan-cloud .panelMenu,
#pan-local .panelMenu {
	--btn-color: #ff9;
	color: #fff;
	border: var( --pan-border );
	border-width: 1px 0;
	background-color: #444;
}
#pan-local .panelMenu {
	border-top: 0;
}
#pan-synth .panelMenu,
#pan-effects .panelMenu,
#pan-pianoroll .panelMenu {
	position: relative;
	padding: 0 6px;
	height: 28px;
	color: rgba( 255, 255, 255, .2 );
	background-color: #444;
}
#pan-synth .panelMenu {
	box-sizing: initial;
}
#pan-pianoroll .panelMenu {
	border-bottom: 0;
}

/* .......................................................................... */
#channelName,
#synthChanName { background-color: var( --synth-chanNamebtn-bg ); }
#pianorollName { background-color: var( --pattern-namebtn-bg ); }
#synthName { background-color: var( --synth-namebtn-bg ); }
#synthChanName {
	margin: 0;
	padding-right: 4px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

/* .......................................................................... */
#pan-cloud .panelTitle::before { content: "\f0c2"; }
#pan-local .panelTitle::before { content: "\f109"; }
#pan-history .panelTitle::before { content: "\f1da"; }
#pan-patterns .panelTitle::before { content: "\f83e"; }

#undo::before { content: "\f0e2"; }
#redo::before { content: "\f01e"; }
#synthNew::before { content: "\f067"; }
#newCloudComposition::before { content: "\f067"; }
#newLocalComposition::before { content: "\f067"; }
#openLocalComposition::before { content: "\f07c"; }

/* .......................................................................... */
#synthDestArrow::before {
	font-family: "FontAwesome";
	content: "\f356";
}
#synthChanNameWrap {
	position: relative;
	display: flex;
	margin: 0 6px;
}
#synthChanSelectLabel {
	width: 20px;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	background-color: var( --synth-chanNamebtn-bg );
}
#synthChanSelectLabel::before {
	content: "\f0d7";
	font-size: 16px;
	font-style: normal;
	font-family: "FontAwesome";
}
#synthChanSelect {
	position: absolute;
	z-index: 1;
	top: 100%;
	left: 0;
	opacity: 0;
	visibility: hidden;
	transition: .2s;
	transition-property: visibility, opacity;
}
#synthChanSelectLabel:focus + #synthChanSelect,
#synthChanSelect:focus {
	opacity: 1;
	visibility: visible;
}

/* .......................................................................... */
#mainGridWrap,
#keysGridWrap,
#synthOscs {
	flex: 1;
}
.gsuiPianoroll,
.gsuiPatternroll,
.gsuiSynthesizer {
	height: 100%;
}

/* .......................................................................... */
.gsuiBeatlines {
	transition: filter .2s;
}
#mainGridWrap:not( .focus ) .gsuiBeatlines,
#keysGridWrap:not( .focus ) .gsuiBeatlines {
	filter: brightness( .9 );
}
