.panel {
	display: flex;
	flex-direction: column;
}

/* .......................................................................... */
.panelBody {
	flex: 1;
	overflow: auto;
	position: relative;
	background-color: #555;
}

/* .......................................................................... */
.panelPlaceholder {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 12px;
	color: #fff;
	opacity: .4;
}
.panelPlaceholder:only-child {
	display: flex;
}

/* .......................................................................... */
.panelMenu {
	--btn-color: #bbb;
	display: flex;
	box-sizing: border-box;
	align-items: center;
	min-height: 24px;
	padding: 0 10px;
	color: #222;
	font-size: 12px;
	font-weight: bold;
	border-bottom: var( --pan-border );
	background-color: #666;
}

/* .......................................................................... */
.panelTitle {
	padding-right: 6px;
}
.panelTitle::before {
	margin-right: .4em;
	font-weight: normal;
	font-family: "FontAwesome";
}

/* .......................................................................... */
.panelDataBtn {
	margin: 0 6px;
	padding: 2px 8px;
	max-width: 110px;
	border: 0;
	color: #ddd;
	cursor: pointer;
	overflow: hidden;
	border-radius: 3px;
	font-size: 13px;
	font-weight: bold;
	white-space: nowrap;
	text-overflow: ellipsis;
	transition: filter .2s;
}
.panelDataBtn:empty::before {
	content: "Untitled";
	font-style: italic;
}
.panelDataBtn:hover {
	color: #fff;
	filter: brightness( 1.1 );
}

/* .......................................................................... */
.panelBtn {
	display: inline-flex;
	align-items: center;
	height: 100%;
	border: 0;
	padding: 0 6px;
	font: inherit;
	color: var( --btn-color );
	cursor: pointer;
	background-color: transparent;
	transition: .5s;
	transition-property: background-color;
}
.panelBtn:focus,
.panelBtn:hover {
	color: #505050;
	background-color: var( --btn-color );
}
.panelBtn::after {
	content: attr( data-text );
	margin-left: .4em;
}
#pan-leftside.small .panelBtn::after {
	display: none;
}
.panelBtn::before {
	font-family: "FontAwesome";
}
