#buffPatterns .pattern-btn[ data-action="clone" ] { display: none; } /* temporary */

.pattern {
	display: flex;
	overflow: hidden;
	flex-direction: column;
	box-sizing: border-box;
	position: relative;
	height: var( --pattern-height );
	color: var( --pattern-text );
	background-color: var( --pattern-bg );
	transition:
		margin-top .3s,
		margin-bottom .3s,
		background-color .1s;
}
.pattern.selected {
	--pattern-bg: var( --pattern-selected-bg );
	--pattern-text: var( --pattern-selected-text );
	--pattern-head-bg: var( --pattern-head-selected-bg );
}

/* .......................................................................... */
.pattern-head {
	box-sizing: border-box;
	display: flex;
	height: 22px;
	line-height: 22px;
	transition: inherit;
	background-color: var( --pattern-head-bg );
}
.pattern-name {
	padding: 0 8px;
	font-size: 12px;
	font-weight: bold;
	margin-right: auto;
}
.pattern-name:empty::after {
	content: "Untitled";
	font-style: italic;
	opacity: .5;
}

/* .......................................................................... */
.pattern-btn {
	width: 20px;
	border: 0;
	padding: 0;
	opacity: .7;
	color: inherit;
	cursor: pointer;
	font-size: 14px;
	background: none;
	transition: .1s opacity;
}
.pattern-btn:focus,
.pattern-btn:hover {
	opacity: 1;
}
