.pattern {
	display: flex;
	overflow: hidden;
	flex-direction: column;
	box-sizing: border-box;
	position: relative;
	height: var( --pattern-height );
	color: var( --pattern-text );
	margin-top: calc( var( --pattern-height ) * -1 );
	border-radius: 4px 0 0 4px;
	background-color: var( --pattern-bg );
	transition: .3s;
	transition-property: margin-top, margin-bottom;
}
.synth-show .pattern {
	margin: 4px 0;
}
.pattern.selected {
	--pattern-bg: var( --pattern-selected-bg );
	--pattern-text: var( --pattern-selected-text );
	--pattern-head-bg: var( --pattern-head-selected-bg );
}

/* .......................................................................... */
.pattern-head {
	box-sizing: border-box;
	display: flex;
	padding: 2px 4px;
	font-size: 12px;
	transition: inherit;
	background-color: var( --pattern-head-bg );
}
.pattern-name {
	font-weight: bold;
}
.pattern-name:empty::after {
	content: "Untitled";
	font-style: italic;
	opacity: .5;
}
.pattern.selected .pattern-name::before {
	content: "\f07c";
	font-family: "FontAwesome";
	font-weight: normal;
	margin-right: .4em;
}

/* .......................................................................... */
.pattern-content {
	flex: 1;
	position: relative;
}
.pattern-content svg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	fill: currentColor;
	opacity: .8;
}

/* .......................................................................... */
.pattern a {
	width: 0;
	opacity: .5;
	overflow: hidden;
	transition: .1s;
	transition-property: width, opacity;
}
.pattern-clone {
	margin-left: auto;
}
.pattern:hover a {
	width: 20px;
}
.pattern a:hover {
	opacity: 1;
}
