#buffPatterns .pattern-btn[ data-action="clone" ] { display: none; } /* temporary */

.pattern {
	display: flex;
	overflow: hidden;
	flex-direction: column;
	box-sizing: border-box;
	position: relative;
	height: var( --pattern-height );
	color: var( --pattern-text );
	background-color: var( --pattern-bg );
	transition:
		margin-top .3s,
		margin-bottom .3s,
		background-color .1s;
}
#buffPatterns .pattern {
	border-bottom: 1px solid rgba( 0, 0, 0, .4 );
}
.pattern.selected {
	--pattern-bg: var( --pattern-selected-bg );
	--pattern-text: var( --pattern-selected-text );
	--pattern-head-bg: var( --pattern-head-selected-bg );
}

/* .......................................................................... */
.pattern-head {
	box-sizing: border-box;
	display: flex;
	height: 26px;
	line-height: 26px;
	transition: inherit;
	background-color: var( --pattern-head-bg );
}
.pattern-info {
	flex: 1;
	display: flex;
	padding: 0 8px;
	overflow: hidden;
	align-items: center;
}
.pattern-name {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 12px;
	font-weight: bold;
}
.pattern-name:empty::after {
	content: "Untitled";
	font-style: italic;
	opacity: .5;
}

/* .......................................................................... */
#keysPatterns .pattern-dest-arrow,
#keysPatterns .pattern-dest-btn {
	display: none;
}
.pattern-dest-arrow {
	margin: 0 4px;
	font-size: 12px;
	opacity: .5;
}
.pattern-dest-btn {
	overflow: initial;
	text-overflow: initial;
	background-color: rgba( 255, 255, 255, .06 );
}
.pattern-dest-btn:hover,
.pattern-dest-btn:focus {
	color: var( --pattern-bg );
	background-color: var( --pattern-text );
}

/* .......................................................................... */
.pattern-btn {
	width: 20px;
	border: 0;
	padding: 0;
	opacity: .7;
	color: inherit;
	cursor: pointer;
	font-size: 14px;
	background: none;
	transition: .1s opacity;
}
.pattern-btn:focus,
.pattern-btn:hover {
	opacity: 1;
}
