#pianorollForbidden {
	position: absolute;
	z-index: 2000000; /* 1. */
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	background-color: #000a;
	transition: .2s;
	transition-property: opacity, visibility;
}
#pianorollForbidden.hidden {
	opacity: 0;
	visibility: hidden;
}
#pianorollForbidden::before {
	content: "No pattern selected...";
	display: block;
	padding: 18px;
	color: #ddd;
	font-size: 12px;
	font-style: italic;
	font-weight: bold;
	border-radius: 4px;
	background-color: rgba( 255, 255, 255, .1 );
}

/*
1.
	z-index: 2000000; because of gsuiSliderGroup
*/
