.placeholder {
	display: none;
	height: 100%;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
	padding: 1em;
	text-align: center;
	font-size: 12px;
	opacity: .5;
	user-select: none;
}
.placeholder:only-child {
	display: flex;
}
