.popup {
	width: 500px;
}

/* .popup *content* --------------------------------------------------------- */
.popup fieldset {
	border: 2px solid #444;
	border-radius: 4px;
	margin-bottom: 10px;
}

.popup legend {
	font-size: 11px;
	font-weight: bold;
	opacity: .5;
}

.popup .param {
	display: flex;
	align-items: center;
}

.popup .param + .param {
	margin-top: 5px;
}

.popup .param-title {
	flex: 1;
}

.popup .param-values {
	flex: 1;
	font-family: var( --monospace );
}

.popup [type="radio"]:checked + label {
	font-weight: bold;
}

.popup input {
	border-radius: 2px;
	border: 0;
	color: inherit;
	font-size: inherit;
}
.popup input::placeholder {
	color: #aaa;
	font-style: italic;
}

.popup input[type="number"],
.popup input[type="text"],
.popup input[type="url"],
.popup input[type="file"] {
	width: 150px;
	padding: .2em .5em;
	font-family: inherit;
	background: rgba( 255, 255, 255, .1 );
}

.popup input[type="file"] {
	width: 200px;
}

/* #settingsPopupContent ---------------------------------------------------- */
#settingsPopupContent fieldset:nth-child( 2 ) .param-values {
	display: flex;
	align-items: center;
}

#settingsPopupContent .btn {
	padding: .2em;
	margin-left: 10px;
	border: 0;
	border-radius: 2px;
	font-size: inherit;
	background-color: rgba( 255, 255, 255, .1 )
}

#settingsPopupContent .btn:hover {
	background-color: rgba( 255, 255, 255, .2 )
}

/* #shortcutsPopupContent --------------------------------------------------- */
.shortcuts {
	padding: .3em .5em;
	margin: 7px;
	border-radius: 4px;
	font-weight: bold;
	font-size: 14px;
	line-height: 2em;
	background-color: #444;
	box-shadow: 0 3px 0 0 rgba( 0, 0, 0, .4 );
	color: #fff;
}

.shortcuts .icon {
	width: auto;
}
