.popup {
	width: 500px;
}

/* .popup *content* --------------------------------------------------------- */
.popup fieldset {
	border: 2px solid #444;
	border-radius: 4px;
	margin-bottom: 10px;
}

.popup legend {
	font-size: 14px;
	font-weight: bold;
	opacity: .5;
}

.popup a {
	color: #bbf;
	font-size: 12px;
}

.popup-error-msg {
	margin-top: 12px;
	font-size: 12px;
	color: #ed9a8b;
}
.popup-error-msg:empty {
	display: none;
}

.popup .param {
	display: flex;
	align-items: center;
	font-size: 14px;
}
.popup .param + .param {
	margin-top: 5px;
}

.popup .param-title {
	flex: 1;
}

.popup .param-values {
	flex: 1;
	font-family: var( --monospace );
}

.popup [type="radio"]:checked + label {
	font-weight: bold;
}

.popup input {
	border-radius: 2px;
	border: 0;
	color: inherit;
	font-size: inherit;
}
.popup input::placeholder {
	color: #aaa;
	font-style: italic;
}

.popup input[type="password"],
.popup input[type="number"],
.popup input[type="text"],
.popup input[type="url"],
.popup input[type="file"] {
	width: 150px;
	padding: .6em .8em;
	font-family: inherit;
	background: rgba( 255, 255, 255, .1 );
}

.popup input[type="file"] {
	width: 200px;
}

/* #authPopupContent -------------------------------------------------------- */
#authPopupContent {
	width: 340px;
}


/* #settingsPopupContent ---------------------------------------------------- */
#settingsPopupContent fieldset:nth-child( 2 ) .param-values {
	display: flex;
	align-items: center;
}

#settingsPopupContent .btn {
	padding: .2em;
	margin-left: 10px;
	border: 0;
	border-radius: 2px;
	font-size: inherit;
	background-color: rgba( 255, 255, 255, .1 )
}

#settingsPopupContent .btn:hover {
	background-color: rgba( 255, 255, 255, .2 )
}

/* #shortcutsPopupContent --------------------------------------------------- */
#shortcutsPopupContent {
	width: 540px;
}

#shortcutsPopupContent .param {
	padding: 4px;
}
#shortcutsPopupContent .param:nth-child( even ) {
	background-color: rgba( 255, 255, 255, .05 );
}

#shortcutsPopupContent .param-values {
	max-width: 190px;
}

#shortcutsPopupContent .param-title {
	font-size: 13px;
}

#shortcutsPopupContent .shortcuts {
	display: inline-block;
	margin: 0 6px;
	border-radius: 4px;
	border-bottom: 3px solid #333;
	padding: .3em .5em;
	font-weight: bold;
	white-space: nowrap;
	color: #fff;
	background-color: #444;
}
#shortcutsPopupContent .shortcuts .icon {
	width: auto;
}

/* #renderPopupContent ------------------------------------------------------- */
#renderWrap {
	display: flex;
	padding: 10px 0;
}
#renderProgress {
	flex: 1;
	height: 28px;
}
#renderBtn {
	padding: 0 .8em;
	border-radius: 2px;
	margin-right: 10px;
	color: #111;
	font-size: 12px;
	line-height: 28px;
	font-weight: bold;
	background-color: #ff9;
}
#renderBtn span { display: none; }
#renderBtn[data-status="0"] #renderBtn0 { display: inline; }
#renderBtn[data-status="1"] #renderBtn1 { display: inline; }
#renderBtn[data-status="2"] #renderBtn2 { display: inline; }
#renderBtn span::before {
	font-family: "FontAwesome";
	margin-right: .3em;
}
#renderBtn0::before { content: "\f0e7"; }
#renderBtn2::before { content: "\f019"; }
#renderBtn1::before {
	display: inline-block;
	content: "\f3f4";
	animation: 1s linear keyframes-spin infinite;
}
@keyframes keyframes-spin {
	from { transform: rotate( 0deg ) }
	to { transform: rotate( 360deg ) }
}

/* #aboutPopupContent ------------------------------------------------------- */
#aboutPopupContent {
	width: 450px;
	text-align: center;
}
#aboutPopupContent > div {
	margin-bottom: 16px;
}

#aboutPopupContent .title {
	font-family: "Oswald";
	font-size: 32px;
}

#aboutPopupContent a {
	color: #ccf;
	font-weight: bold;
}
#aboutPopupContent .info::after { content: "\f113"; }
#aboutPopupContent .patreon::after { content: "\f3d9"; }
#aboutPopupContent .info::after,
#aboutPopupContent .patreon::after {
	font-family: "FontAwesomeBrands";
	font-weight: normal;
	margin-left: 4px;
}

#aboutPopupContent .social-network {
	display: flex;
}

#aboutPopupContent .social-network a {
	flex: 1;
	padding: 20px;
	color: #fff;
	font-size: 36px;
	font-weight: normal;
	opacity: .5;
	transition: .4s;
	transition-property: opacity;
}
#aboutPopupContent .social-network a:hover {
	opacity: 1;
}
#aboutPopupContent .social-network a:hover::before {
	top: -4px;
	left: 4px;
	text-shadow: -4px 4px 2px rgba( 0, 0, 0, .2 );
}
#aboutPopupContent .social-network a::before {
	position: relative;
	top: 0px;
	left: 0px;
	transition: .2s;
	transition-property: top, left, text-shadow;
}
#aboutPopupContent .social-network:hover a:not(:hover) {
	opacity: .3;
}
