.popup {
	width: 500px;
}

/* .popup *content* --------------------------------------------------------- */
.popup fieldset {
	border: 2px solid #444;
	border-radius: 4px;
	margin-bottom: 10px;
}

.popup legend {
	font-size: 11px;
	font-weight: bold;
	opacity: .5;
}

.popup .param {
	display: flex;
	align-items: center;
	font-size: 14px;
}
.popup .param + .param {
	margin-top: 5px;
}

.popup .param-title {
	flex: 1;
}

.popup .param-values {
	flex: 1;
	font-family: var( --monospace );
}

.popup [type="radio"]:checked + label {
	font-weight: bold;
}

.popup input {
	border-radius: 2px;
	border: 0;
	color: inherit;
	font-size: inherit;
}
.popup input::placeholder {
	color: #aaa;
	font-style: italic;
}

.popup input[type="number"],
.popup input[type="text"],
.popup input[type="url"],
.popup input[type="file"] {
	width: 150px;
	padding: .2em .5em;
	font-family: inherit;
	background: rgba( 255, 255, 255, .1 );
}

.popup input[type="file"] {
	width: 200px;
}

/* #settingsPopupContent ---------------------------------------------------- */
#settingsPopupContent fieldset:nth-child( 2 ) .param-values {
	display: flex;
	align-items: center;
}

#settingsPopupContent .btn {
	padding: .2em;
	margin-left: 10px;
	border: 0;
	border-radius: 2px;
	font-size: inherit;
	background-color: rgba( 255, 255, 255, .1 )
}

#settingsPopupContent .btn:hover {
	background-color: rgba( 255, 255, 255, .2 )
}

/* #shortcutsPopupContent --------------------------------------------------- */
#shortcutsPopupContent {
	width: 540px;
}

#shortcutsPopupContent .param {
	padding: 4px;
}
#shortcutsPopupContent .param:nth-child( even ) {
	background-color: rgba( 255, 255, 255, .05 );
}

#shortcutsPopupContent .param-values {
	max-width: 190px;
}

#shortcutsPopupContent .param-title {
	font-size: 13px;
}

#shortcutsPopupContent .shortcuts {
	display: inline-block;
	margin: 0 6px;
	border-radius: 4px;
	border-bottom: 3px solid #333;
	padding: .3em .5em;
	font-weight: bold;
	white-space: nowrap;
	color: #fff;
	background-color: #444;
}
#shortcutsPopupContent .shortcuts .icon {
	width: auto;
}

/* #renderPopupContent ------------------------------------------------------- */
#render-wrap {
	display: flex;
	padding: 10px 0;
}
#render-btn {
	padding: 0 .8em;
	border-radius: 2px;
	margin-right: 10px;
	color: #111;
	font-size: 12px;
	line-height: 28px;
	font-weight: bold;
	background-color: #ff9;
}
#render-btn span { display: none; }
#render-btn[data-status="0"] span:nth-child(1) { display: inline; }
#render-btn[data-status="1"] span:nth-child(2) { display: inline; }
#render-btn[data-status="2"] span:nth-child(3) { display: inline; }
#render-progress {
	flex: 1;
	height: 28px;
}

/* #aboutPopupContent ------------------------------------------------------- */
#aboutPopupContent {
	width: 450px;
	text-align: center;
}
#aboutPopupContent > div {
	margin-bottom: 16px;
}

#aboutPopupContent .title {
	font-family: "Oswald";
	font-size: 32px;
}

#aboutPopupContent a {
	color: #ccf;
	font-weight: bold;
}
#aboutPopupContent .info::after { content: "\f113"; }
#aboutPopupContent .patreon::after { content: "\f3d9"; }
#aboutPopupContent .info::after,
#aboutPopupContent .patreon::after {
	font-family: "FontAwesomeBrands";
	font-weight: normal;
	margin-left: 4px;
}

#aboutPopupContent .social-network {
	display: flex;
}

#aboutPopupContent .social-network a {
	flex: 1;
	padding: 20px;
	color: #fff;
	font-size: 36px;
	font-weight: normal;
	opacity: .5;
	transition: .4s;
	transition-property: opacity;
}
#aboutPopupContent .social-network a:hover {
	opacity: 1;
}
#aboutPopupContent .social-network a:hover::before {
	top: -4px;
	left: 4px;
	text-shadow: -4px 4px 2px rgba( 0, 0, 0, .2 );
}
#aboutPopupContent .social-network a::before {
	position: relative;
	top: 0px;
	left: 0px;
	transition: .2s;
	transition-property: top, left, text-shadow;
}
#aboutPopupContent .social-network:hover a:not(:hover) {
	opacity: .3;
}
