.popup {
	width: 500px;
}

/* .popup *content* --------------------------------------------------------- */
.popup fieldset {
	border: 2px solid #444;
	border-radius: 4px;
	margin-bottom: 10px;
}

.popup legend {
	font-size: 12px;
	opacity: .5;
}

.popup a {
	color: #bbf;
}

.popup-error-msg {
	margin-top: 12px;
	font-size: 12px;
	color: #ed9a8b;
}
.popup-error-msg:empty {
	display: none;
}

.popup .param {
	display: flex;
	align-items: center;
	font-size: 14px;
}
.popup .param + .param {
	margin-top: 6px;
}

.popup .param-title {
	flex: 1;
}
.popup .param-values {
	display: flex;
	align-items: center;
	font-family: var( --font-monospace );
}
.popup .param-column {
	flex-direction: column;
}

.popup label {
	display: flex;
	align-items: center;
}
.popup input[ type="radio" ]:checked + label {
	font-weight: bold;
}

.popup input,
.popup button {
	border-radius: 2px;
	border: 0;
	color: inherit;
	font-size: inherit;
}
.popup input::placeholder {
	color: #aaa;
	font-style: italic;
}
.popup input[ type="radio" ],
.popup input[ type="checkbox" ] {
	margin-right: 8px;
	transform: scale( 1.5 );
}
.popup input[ type="range" ] {
	min-width: 0;
}

.popup input[ type="password" ],
.popup input[ type="number" ],
.popup input[ type="text" ],
.popup input[ type="url" ],
.popup input[ type="file" ] {
	width: 180px;
	height: 32px;
	padding: 0 8px;
	box-sizing: border-box;
	font-family: inherit;
	background-color: rgba( 255, 255, 255, .1 );
}
.popup input[ type="file" ] {
	width: 200px;
	height: auto;
	padding-top: 6px;
	padding-bottom: 6px;
}

/* #authPopupContent -------------------------------------------------------- */
#authPopupContent {
	width: 340px;
}
#authPopupContent a {
	font-size: 12px;
}

/* #selectChanPopupContent ---------------------------------------------------- */
#selectChanPopupContent,
#gsuiPatterns-selectChanPopupContent {
	width: auto;
}
#selectChanPopupSelect,
#gsuiPatterns-selectChanPopupSelect {
	width: 100%;
	color: inherit;
	background-color: transparent;
}
#selectChanPopupSelect option,
#gsuiPatterns-selectChanPopupSelect option {
	padding: 4px;
}

/* #tempoPopupContent ---------------------------------------------------- */
#tempoPopupContent {
	width: 400px;
}
#tempoBPM {
	width: calc( 180px - 6px - 32px );
}
#tempoBPMTap {
	display: flex;
	align-self: normal;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	color: inherit;
	width: 32px;
	font-size: 18px;
	margin-left: 6px;
	border-radius: 2px;
	background-color: rgba( 255, 255, 255, .1 );
}
#tempoBPMTap:hover {
	background-color: rgba( 255, 255, 255, .2 );
}

/* #shortcutsPopupContent --------------------------------------------------- */
#shortcutsPopupContent .param {
	padding: 4px;
}
#shortcutsPopupContent .param:nth-child( even ) {
	background-color: rgba( 255, 255, 255, .05 );
}

#shortcutsPopupContent .param-title {
	font-size: 13px;
}

#shortcutsPopupContent .shortcuts {
	display: inline-block;
	position: relative;
	border-radius: 4px;
	border-bottom: 3px solid #333;
	padding: 4px 6px;
	color: #fff;
	white-space: nowrap;
	background-color: #444;
}
#shortcutsPopupContent .shortcuts-sep {
	margin: 0 8px;
	font-size: 10px;
}
#shortcutsPopupContent .shortcuts .icon {
	width: auto;
}

/* #renderPopupContent ------------------------------------------------------- */
#renderWrap {
	display: flex;
	padding: 10px 0;
}
#renderProgress {
	flex: 1;
	height: 28px;
}
#renderBtn {
	padding: 0 .8em;
	border-radius: 2px;
	margin-right: 10px;
	color: #111;
	font-size: 12px;
	line-height: 28px;
	font-weight: bold;
	background-color: #ff9;
}
#renderBtn > span { display: none; }
#renderBtn[ data-status="0" ] #renderBtn0 { display: inline; }
#renderBtn[ data-status="1" ] #renderBtn1 { display: inline; }
#renderBtn[ data-status="2" ] #renderBtn2 { display: inline; }
#renderBtn .gsuiIcon {
	margin-left: .3em;
}

/* #settingsPopupContent ---------------------------------------------------- */
#settingsPopupContent {
	width: 400px;
}
#settingsPopupContent .param-values {
	width: 200px;
}
.settingsPopupFps {
	font-size: 16px;
}
.settingsPopupFps::after {
	content: " fps";
	font-family: var( --font-default );
	font-size: 12px;
	opacity: .6;
}
#settingsUIRateManual {
	flex: 1;
	margin-left: 8px;
}

/* #aboutPopupContent ------------------------------------------------------- */
#aboutPopupContent {
	width: 450px;
	text-align: center;
}
#aboutPopupContent > div {
	margin-bottom: 16px;
}

#aboutPopupContent .title {
	display: flex;
	align-items: baseline;
	justify-content: center;
}
#aboutPopupContent .title > span:first-child {
	margin-right: 4px;
	font: 32px var( --font-oswald );
}

#aboutPopupContent a {
	color: #ccf;
	font-weight: bold;
}

#aboutPopupContent .social-network {
	display: flex;
}

#aboutPopupContent .social-network a {
	flex: 1;
	padding: 20px 0;
	color: #fff;
	font-size: 36px;
	font-weight: normal;
	opacity: .5;
	transition: .4s;
	transition-property: opacity;
}
#aboutPopupContent .social-network a:hover {
	opacity: 1;
}
#aboutPopupContent .social-network a:hover::before {
	top: -4px;
	left: 4px;
	text-shadow: -4px 4px 2px rgba( 0, 0, 0, .2 );
}
#aboutPopupContent .social-network a::before {
	position: relative;
	top: 0;
	left: 0;
	transition: .2s;
	transition-property: top, left, text-shadow;
}
#aboutPopupContent .social-network:hover a:not( :hover ) {
	opacity: .3;
}
