.popup {
	width: 500px;
}

/* .popup *content* --------------------------------------------------------- */
.popup label {
	display: flex;
	align-items: center;
}
.popup input[ type="radio" ]:checked + label {
	font-weight: bold;
}

.popup input,
.popup button {
	border-radius: 2px;
	border: 0;
	color: inherit;
	font-size: inherit;
}
.popup input::placeholder {
	color: #aaa;
	font-style: italic;
}
.popup input[ type="radio" ],
.popup input[ type="checkbox" ] {
	margin: 0;
	margin-right: 8px;
}
.popup input[ type="range" ] {
	min-width: 0;
}

.popup input[ type="password" ],
.popup input[ type="number" ],
.popup input[ type="text" ],
.popup input[ type="url" ],
.popup input[ type="file" ] {
	width: 180px;
	height: 32px;
	padding: 0 8px;
	box-sizing: border-box;
	font-family: inherit;
	background-color: rgba( 255, 255, 255, .1 );
}
.popup input[ type="file" ] {
	width: 200px;
	height: auto;
	padding-top: 6px;
	padding-bottom: 6px;
}

/* #selectChanPopupContent ---------------------------------------------------- */
#selectChanPopupContent,
#gsuiPatterns-selectChanPopupContent {
	width: auto;
}
#selectChanPopupSelect,
#gsuiPatterns-selectChanPopupSelect {
	width: 100%;
	color: inherit;
	background-color: transparent;
}
#selectChanPopupSelect option,
#gsuiPatterns-selectChanPopupSelect option {
	padding: 4px;
}
