:root {
	--windowBtn-bg: #444;
	--windowBtn-chan-color: #ce93d8;
	--windowBtn-synth-color: #a5d6a7;
	--windowBtn-slices-color: #e29d8a;
	--windowBtn-pattern-color: #81d4fa;
}

#noscript {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2147483647;
	color: #ddd;
	background-color: #333;
}

.no-select {
	user-select: none;
	-webkit-user-select: none;
}

html,
body {
	height: 100%;
	margin: 0;
	overflow: hidden;
	font-family: var( --gsui-font );
	background-color: #222;
}
