:root {
	--app-bg: #222;
	--font-default: "Montserrat", sans-serif;
	--font-monospace: "Inconsolata", "consolas", monospace;
	--font-number: "Unica One", var( --font-monospace );
	--font-oswald: "Oswald", sans-serif;
	--pan-border: 1px solid #333;
	--bpm-fontSize: 22px;

	/* ...................................................................... */
	--head-bg: #444;
	--head-gap: 4px;
	--head-border: 0;
	--head-heightA: 32px;
	--head-heightB: 24px;
	--head-hover-dur: .2s;
	--head-winBtn-bg: #222;
	--head-winBtn-open-bg: #ff9;

	/* ...................................................................... */
	--head-cmps-btn: #9dabd5;
	--head-cmps-boxShadow: 12px 20px 10px rgba( 0, 0, 0, .4 );
	--head-history-boxShadow: 2px 20px 10px rgba( 0, 0, 0, .4 );

	/* ...................................................................... */
	--windowBtn-bg: #444;
	--windowBtn-chan-color: #ce93d8;
	--windowBtn-synth-color: #a5d6a7;
	--windowBtn-newCmp-color: #ff9;
	--windowBtn-pattern-color: #81d4fa;

	/* ...................................................................... */
	--gsuiWindows-overflow: hidden;
	--gsuiWindow-bg: #444;
	--gsuiWindow-color: #222;
	--gsuiWindow-radius: 2px;
	--gsuiWindow-head-bg: #888;
	--gsuiWindow-fadein-dur: .2s;
	--gsuiWindow-head-height: 32px;
	--gsuiWindow-border-width: 2px;
	--gsuiWindow-border-color: #888;
	--gsuiWindow-handler-width: 4px;
	--gsuiWindow-btn-close-color: #ba5d5d88;
	--gsuiWindow-focused-border-color: #1e90ff;

	/* ...................................................................... */
	--gsuiPanels-bd: 2px solid #222;
	--gsuiPanels-extendSize: 4px;
	--gsuiPanels-extendColor: #222;

	/* ...................................................................... */
	--ctrl-play-bg: #67a;
	--ctrl-stop-bg: #888;
	--ctrl-clock-bg: #222;
	--ctrl-play-text: #ddd;
	--ctrl-clock-text: #ddd;
	--ctrl-about-color: #ff9;
	--ctrl-render-color: #ff9;
	--ctrl-eatcookie-color: #ff9;
	--ctrl-currentTime-color: #abd;
	--ctrl-currentTime-bg: rgba( 0, 0, 0, .2 );

	/* ...................................................................... */
	--gsuiClock-mili-fontSize: 14px;
	--gsuiClock-mili-opacity: .5;

	/* gsuiMixer */
	/* ...................................................................... */
	--gsuiMixer-bg: #444;
	--gsuiMixerChannel-bg: #555;
	--gsuiMixerChannel-bg2: #5b5b5b;
	--gsuiMixerChannel-color: #fff;
	--gsuiMixerChannel-selected-bg: #666;
	--gsuiMixerChannel-width: 52px;
	--gsuiMixerChannel-pan-color: #d9f;
	--gsuiMixerChannel-gain-color: #ff9;
	--gsuiMixerChannel-connect-input-color: #b77;
	--gsuiMixerChannel-connect-output-color: #ff9;
	--gsuiMixerChannel-toggle-bg: #ffa;
	--gsuiMixerChannel-toggleOff-bg: rgba( 255, 255, 255, .1 );
	--gsuiMixerChannel-darkBorder: rgba( 0, 0, 0, .1 );
	--gsuiMixerChannel-lightBorder: rgba( 255, 255, 255, .05 );
	--gsuiMixerChannel-analyser-bg: #222;

	/* gsuiTrack */
	/* ...................................................................... */
	--gsuiTrack-hsl-h: 0;
	--gsuiTrack-hsl-s: 0%;
	--gsuiTrack-hsl-l: 27%;
	--gsuiTrack-color: #fff;
	--gsuiTrack-toggle-bg: #ffa;
	--gsuiTrack-toggleOff-bg: rgba( 255, 255, 255, .1 );

	/* gsuiBlocksManager */
	/* ...................................................................... */
	--gsuiBlocksManager-grid-bg: #456168;
	--gsuiBlocksManager-side-bgColor: #555;
	--gsuiBlocksManager-font: 12px var( --font-default );
	--gsuiBlocksManager-number-font: 16px var( --font-number );
	--gsuiBlocksManager-selection-bgColor: rgba( 189, 38, 38, .4 );
	--gsuiBlocksManager-selection-borderColor: #f44;
	--gsuiBlocksManager-blockColor: rgba( 85, 170, 204, .8 );
	--gsuiBlocksManager-blockSelectedColor: rgba( 255, 136, 136, .8 );

	/* gsuiTimeline */
	/* ...................................................................... */
	--gsuiTimeline-bg: #222;
	--gsuiTimeline-color: #fff;
	--gsuiTimeline-number-font: 15px var( --font-number );
	--gsuiTimeline-loop-bg: #656586;
	--gsuiTimeline-cursor-fill: #fdfd70;
	--gsuiTimeline-loopBorder-bg: #fff;

	/* gsuiSynthesizer */
	/* ...................................................................... */
	--gsuiSynthesizer-bg: #444;
	--gsuiSynthesizer-color: #fff;
	--gsuiSynthesizer-head-bg: #555;
	--gsuiSynthesizer-head-height: 38px;

	/* gsuiOscillator */
	/* ...................................................................... */
	--gsuiOscillator-bg: #666;
	--gsuiOscillator-font: 12px var( --font-default );
	--gsuiOscillator-color: #fff;
	--gsuiOscillator-slider-bg: #555;
	--gsuiOscillator-number-font: 14px var( --font-number );
	--gsuiOscillator-pan: #d9f;
	--gsuiOscillator-gain: #ff9;
	--gsuiOscillator-pan-a: #faa;
	--gsuiOscillator-pan-b: #aaf;
	--gsuiOscillator-detune: #fff;

	/* gsuiSlider */
	/* ...................................................................... */
	--gsuiSlider-lineRadius: 2px;

	/* gsuiSliderGroup */
	/* ...................................................................... */
	--gsuiSliderGroup-bg: #456168;
	--gsuiSliderGroup-currentTime-color: #ff9;
	--gsuiSliderGroup-slider-width: 6px;
	--gsuiSliderGroup-slider-bg: rgba( 0, 0, 0, .1 );
	--gsuiSliderGroup-slider-color: var( --gsuiBlocksManager-blockColor );
	--gsuiSliderGroup-slider-color-selected: var( --gsuiBlocksManager-blockSelectedColor );
	--gsuiSliderGroup-loop-color: rgba( 0, 0, 0, .3 );

	/* gsuiKeys */
	/* ...................................................................... */
	--gsuiKeys-blackKey-gradA: #111;
	--gsuiKeys-blackKey-gradB: #444;
	--gsuiKeys-whiteKey-gradA: #888;
	--gsuiKeys-whiteKey-gradB: #eee;
	--gsuiKeys-activeKey-gradA: #353b52;
	--gsuiKeys-activeKey-gradB: #7886bd;

	/* cmp */
	/* ...................................................................... */
	--cmp-cloud-bg: #4c71af;
	--cmp-local-bg: #67a;
	--cmp-text: #fff;
	--cmp-height: 42px;
	--cmp-text-size: 18px;
	--cmp-save-bg: #ba5d5d;

	/* history */
	/* ...................................................................... */
	--history-action-bg: #454750;
	--history-action-text: #ddd;
	--history-actionlight-bg: #67a;
	--history-actionlightoff-bg: #1a1a1a;

	/* ...................................................................... */
	--synth-bg: #528754;
	--synth-text: #222;
	--synth-selected-text: #444;
	--synth-head-height: 32px;
	--synth-showbtn-bg: rgba( 0, 0, 0, .1 );
	--synth-selected-bg: #66bb6a;
	--synth-namehover-text: #7b7;
	--synth-patterns-bg: rgba( 0, 0, 0, .4 );
	--synth-patterns-maxHeight: 250px;

	/* ...................................................................... */
	--pattern-bg: #334;
	--pattern-text: #5ac;
	--pattern-height: 64px;
	--pattern-head-bg: rgba( 0, 0, 0, .2 );
	--pattern-selected-bg: #5ac;
	--pattern-selected-text: #223;
	--pattern-head-selected-bg: rgba( 255, 255, 255, .2 );
}
