:root {
	--app-bg: #222;
	--font-default: "Montserrat", sans-serif;
	--font-monospace: "Inconsolata", "consolas", monospace;
	--font-number: "Unica One", var( --font-monospace );
	--font-oswald: "Oswald", sans-serif;
	--pan-border: 1px solid #333;
	--bpm-fontSize: 22px;

	/* ...................................................................... */
	--gsui-font: var( --font-default );
	--gsui-font-number: var( --font-number );

	/* ...................................................................... */
	--head-bg: #444;
	--head-gap: 4px;
	--head-border: 0;
	--head-heightA: 32px;
	--head-heightB: 24px;
	--head-hover-dur: .2s;
	--head-winBtn-bg: #222;
	--head-winBtn-open-bg: #ff9;

	/* ...................................................................... */
	--head-cmps-btn: #9dabd5;
	--head-dropdown-shadow: 20px 10px #0006;

	/* ...................................................................... */
	--windowBtn-bg: #444;
	--windowBtn-chan-color: #ce93d8;
	--windowBtn-synth-color: #a5d6a7;
	--windowBtn-newCmp-color: #ff9;
	--windowBtn-pattern-color: #81d4fa;

	/* ...................................................................... */
	--ctrl-play-bg: #67a;
	--ctrl-stop-bg: #888;
	--ctrl-play-text: #ddd;
	--ctrl-about-color: #ff9;
	--ctrl-render-color: #ff9;
	--ctrl-eatcookie-color: #ff9;
	--ctrl-currentTime-color: #abd;
	--ctrl-currentTime-bg: #0003;

	/* gsuiMixer */
	/* ...................................................................... */
	--gsuiMixer-bg: initial;
	--gsuiMixerChannel-bg: #555;
	--gsuiMixerChannel-bg2: #5b5b5b;
	--gsuiMixerChannel-color: #fff;
	--gsuiMixerChannel-selected-bg: #666;
	--gsuiMixerChannel-width: 52px;
	--gsuiMixerChannel-pan-color: #d9f;
	--gsuiMixerChannel-gain-color: #ff9;
	--gsuiMixerChannel-connect-input-color: #f99;
	--gsuiMixerChannel-connect-output-color: #ff9;
	--gsuiMixerChannel-toggle-bg: #ffa;
	--gsuiMixerChannel-toggleOff-bg: #fff2;
	--gsuiMixerChannel-analyser-bg: #222;
	--gsuiMixerChannel-name-font: var( --font-default );

	/* gsuiTrack */
	/* ...................................................................... */
	--gsuiTrack-hsl-h: 0;
	--gsuiTrack-hsl-s: 0%;
	--gsuiTrack-hsl-l: 33%;
	--gsuiTrack-color: #fff;
	--gsuiTrack-toggle-bg: #ffa;
	--gsuiTrack-toggleOff-bg: #fff3;

	/* gsuiBlocksManager */
	/* ...................................................................... */
	--gsuiBlocksManager-grid-bg: #456168;
	--gsuiBlocksManager-side-bgColor: #555;
	--gsuiBlocksManager-font: 12px var( --font-default );
	--gsuiBlocksManager-number-font: 16px var( --font-number );
	--gsuiBlocksManager-selection-bgColor: #b226;
	--gsuiBlocksManager-selection-borderColor: #f44;
	--gsuiBlocksManager-blockColor: #5acc;
	--gsuiBlocksManager-blockSelectedColor: #f88c;

	/* gsuiSlider */
	/* ...................................................................... */
	--gsuiSlider-lineRadius: 2px;

	/* gsuiSliderGroup */
	/* ...................................................................... */
	--gsuiSliderGroup-bg: #456168;
	--gsuiSliderGroup-currentTime-color: #ff9;
	--gsuiSliderGroup-slider-width: 6px;
	--gsuiSliderGroup-slider-bg: #0002;
	--gsuiSliderGroup-slider-color: var( --gsuiBlocksManager-blockColor );
	--gsuiSliderGroup-slider-color-selected: var( --gsuiBlocksManager-blockSelectedColor );
	--gsuiSliderGroup-loop-color: #0004;

	/* cmp */
	/* ...................................................................... */
	--cmp-cloud-bg: #4c71af;
	--cmp-local-bg: #67a;
	--cmp-text: #fff;
	--cmp-height: 42px;
	--cmp-text-size: 18px;
	--cmp-save-bg: #ba5d5d;

	/* history */
	/* ...................................................................... */
	--history-action-bg: #454750;
	--history-action-text: #ddd;
	--history-actionlight-bg: #67a;
	--history-actionlightoff-bg: #1a1a1a;
}

#app .gsuiSynthesizer {
	--gsuiSynthesizer-bg: initial;
}
