.synth {
	display: flex;
	flex-direction: column;
	color: var( --synth-text );
	border-bottom: 0 solid var( --synth-bg );
	background-color: var( --synth-bg );
	transition: .2s;
	transition-property:
		border-bottom-color,
		background-color,
		filter;
}
.synth:not( .synth-selected ):nth-child( odd ) {
	filter: brightness( 1.03 );
}
.synth-show {
	filter: brightness( 1.1 );
	border-bottom-width: 2px;
}
.synth-selected {
	--synth-bg: var( --synth-selected-bg );
	--synth-text: var( --synth-selected-text );
}

/* .......................................................................... */
.synth-head {
	display: flex;
	height: var( --synth-head-height );
	line-height: var( --synth-head-height );
	font-size: 12px;
}

/* .......................................................................... */
.synth-btn {
	width: 20px;
	border: 0;
	margin: 0;
	padding: 0;
	opacity: .6;
	color: inherit;
	cursor: pointer;
	background: none;
	font-size: 14px;
	font-family: "FontAwesome";
	transition: .1s;
	transition-property: background-color, opacity;
}
.synth-btn:hover {
	opacity: 1;
	font-weight: bold;
}
.synth:not( .synth-selected ) .synth-btn:hover {
	color: var( --synth-namehover-text );
}
.synth-btn[ data-action="newPattern" ]::before { content: "\f067"; }
.synth-btn[ data-action="delete" ]::before { content: "\f00d"; }

/* .......................................................................... */
.synth-showBtn {
	background-color: var( --synth-showbtn-bg );
}
.synth-show .synth-showBtn {
	opacity: 1;
}
.synth-showBtn::before {
	display: block;
	content: "\f0da";
	transition: .2s transform;
}
.synth-show .synth-showBtn::before {
	transform: rotate( 90deg );
}

/* .......................................................................... */
.synth-info {
	flex: 1;
	display: flex;
	overflow: hidden;
	padding-left: 6px;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-weight: bold;
}
.synth-name,
.synth-dest {
	pointer-events: none;
}
.synth-name:empty::before {
	content: "Untitled";
	font-style: italic;
	opacity: .8;
}
.synth-dest::before {
	content: "\f356";
	margin: 0 .4em;
	font-weight: normal;
	font-family: "FontAwesome";
}

/* .......................................................................... */
.synth-patterns {
	flex: 1;
	overflow: hidden;
	padding-left: 10px;
	max-height: var( --synth-patterns-maxHeight );
	background-color: var( --synth-patterns-bg );
}
.synth-show .synth-patterns {
	overflow-y: auto;
}
.synth-patterns:empty {
	padding: 0;
}
.synth-patterns:empty::before {
	content: "This synthesizer contains no pattern";
	display: flex;
	align-items: center;
	justify-content: center;
	width: 220px;
	height: 24px;
	margin: -24px auto 0;
	border-radius: 4px;
	font-size: 11px;
	font-style: italic;
	text-align: center;
	white-space: nowrap;
	background-color: rgba( 255, 255, 255, .1 );
	transition: .3s;
	transition-property: margin-top, margin-bottom;
}
.synth-show .synth-patterns:empty::before {
	margin: 4px auto;
}
