.synth {
	display: flex;
	flex-direction: column;
	color: var( --synth-text );
	border-bottom: 0 solid var( --synth-bg );
	background-color: var( --synth-bg );
	transition: .2s;
	transition-property:
		border-bottom-color,
		background-color,
		filter;
}
.synth:not( .synth-selected ):nth-child( odd ) {
	filter: brightness( 1.03 );
}
.synth-show {
	filter: brightness( 1.1 );
	border-bottom-width: 2px;
}
.synth-selected {
	--synth-bg: var( --synth-selected-bg );
}

.synth-head {
	display: flex;
	height: 20px;
	line-height: 20px;
	font-size: 12px;
}
.synth-head a {
	overflow: hidden;
	opacity: .5;
	transition: .1s;
	transition-property: width, color, opacity;
}
.synth-head a:hover {
	opacity: 1;
}
.synth:not( .synth-selected ) .synth-head a:hover {
	color: var( --synth-namehover-text );
}

a.synth-name {
	flex: 1;
	opacity: 1;
	overflow: hidden;
	padding-left: 8px;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-weight: bold;
}
.synth-name:empty::after {
	content: "Untitled";
	font-style: italic;
	opacity: .8;
}

.synth-hoverBtn {
	width: 0;
}
.synth:hover .synth-hoverBtn {
	width: 20px;
}

.synth-showBtn {
	background-color: var( --synth-showbtn-bg );
}
.synth-show .synth-showBtn {
	opacity: 1;
}
.synth-showBtn::before {
	display: block;
	transition: .2s;
	transition-property: transform;
}
.synth-show .synth-showBtn::before {
	transform: rotate( 90deg );
}

.synth-patterns {
	flex: 1;
	overflow: hidden;
	padding-left: 10px;
	max-height: var( --synth-patterns-maxHeight );
	background-color: var( --synth-patterns-bg );
}
.synth-show .synth-patterns {
	overflow-y: auto;
}
.synth-patterns:empty {
	padding: 0;
}
.synth-patterns:empty::before {
	content: "This synthesizer contains no pattern";
	display: flex;
	align-items: center;
	justify-content: center;
	width: 220px;
	height: 24px;
	margin: -24px auto 0;
	border-radius: 4px;
	font-size: 11px;
	font-style: italic;
	text-align: center;
	white-space: nowrap;
	background-color: rgba( 255, 255, 255, .1 );
	transition: .3s;
	transition-property: margin-top, margin-bottom;
}
.synth-show .synth-patterns:empty::before {
	margin: 4px auto;
}
