.synth {
	display: flex;
	flex-direction: column;
	color: #333;
	background-color: #666;
}

.synth-head {
	display: flex;
	height: 36px;
	font-size: 14px;
}

.synth-name {
	flex: 1;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-weight: bold;
}
.synth-head::before {
	content: "\f3f1";
	padding-left: 6px;
	font-weight: normal;
	font-family: "FontAwesome";
}
.synth-name:empty::after {
	content: "Untitled";
	font-style: italic;
	opacity: .5;
}

.synth-head::before,
.synth-caret,
.synth-name,
.synth-menuBtn {
	display: flex;
	align-items: center;
}

.synth-caret {
	justify-content: center;
	transition: transform .2s;
}
.synth-open .synth-caret {
	transform: rotate( 90deg );
}

.synth-menuBtn {
	justify-content: center;
	font-size: 16px;
}
.synth-menuBtn:hover {
	opacity: 1;
}

.synth-patterns {
	flex: 1;
	overflow: auto;
	max-height: 250px;
	border-bottom: 4px solid transparent;
	padding-left: 10px;
	background-color: rgba( 0, 0, 0, .4 );
}
.synth-patterns:empty {
	padding: 0;
}
.synth-patterns:empty::before {
	content: "This synthesizer contains no pattern yet...";
	display: flex;
	align-items: center;
	justify-content: center;
	width: 220px;
	height: 24px;
	margin: -24px auto 0;
	border-radius: 4px;
	font-size: 11px;
	font-style: italic;
	text-align: center;
	white-space: nowrap;
	background-color: rgba( 255, 255, 255, .1 );
}
.synth-open .synth-patterns:empty::before {
	margin-top: 4px;
}

.synth a {
	opacity: .5;
	transition: opacity .1s;
}
.synth a:hover {
	opacity: 1;
}

.synth-patterns:empty::before,
.synth-patterns .gsuiAudioBlock {
	transition: margin-top .4s;
}
.synth-patterns .gsuiAudioBlock {
	position: relative;
	width: 100%;
	height: 64px;
	margin-top: -64px;
	border-radius: 4px 0 0 4px;
}
.synth-open .gsuiAudioBlock {
	margin-top: 4px;
}
.synth-patterns .gsuiAudioBlock.selected .gsuiab-head::before {
	content: "\f07c";
	font-family: "FontAwesome";
	font-weight: normal;
	margin-right: .5em;
}
