#versions {
	right: var( --head-gap );
	width: 180px;
	box-shadow: -12px var( --head-dropdown-shadow );
}

.versions-link {
	display: block;
	padding: 4px 10px;
	font-family: var( --gsui-font-number );
	cursor: pointer;
}
.versions-link:nth-child( odd ) {
	background-color: #0001;
}
.versions-linkCurrent {
	font-size: 20px;
}
