#version {
	font-size: 18px;
}

#versionNum {
	opacity: .8;
	font-family: var( --font-number );
}

#versionCheck {
	font-size: 11px;
	font-weight: bold;
	opacity: .4;
	cursor: pointer;
	transition: .2s opacity;
}
#versionCheck:hover {
	opacity: 1;
}
