#version {
	margin-left: .5em;
	font-size: 18px;
}

#versionNumber {
	opacity: .8;
	font-family: "Inconsolata";
}

#versionCheck {
	margin-left: .5em;
	color: #fff;
	font-size: 11px;
	font-weight: bold;
	font-family: sans-serif;
	opacity: .4;
	cursor: pointer;
	transition: .2s opacity;
}
#versionCheck:hover {
	opacity: 1;
}

/* -------------------------------------------------------------------------- */
#version.ko { color: #fda; }
#version.ok { color: #8fb; }
#version.ko,
#version.ok {
	font-weight: bold;
	font-style: normal;
}

/* -------------------------------------------------------------------------- */
#version.searching #versionNumber::after { content: "\f3f4"; animation: keyframe-rotate360 .6s linear infinite; }
#version.ko #versionNumber::after { content: "\f071"; }
#version.ok #versionNumber::after { content: "\f00c"; }
#version #versionNumber::after {
	display: inline-block;
	font-size: 16px;
	font-weight: normal;
	font-family: "FontAwesome";
	margin-left: 4px;
}

@keyframes keyframe-rotate360 {
	  0% { transform: rotate(   0deg ); }
	100% { transform: rotate( 360deg ); }
}
