#channelName,
#synthChannelBtn { color: var( --windowBtn-chan-color ); }
#drumsNew,
#drumsName,
#pianorollName { color: var( --windowBtn-pattern-color ); }
#synthName { color: var( --windowBtn-synth-color ); }
#synthChanName {
	margin: 0;
	padding-right: 4px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

/* .......................................................................... */
#synthDestArrow {
	margin: 0 6px;
	pointer-events: none;
}

/* .......................................................................... */
.gsuiDrums,
.gsuiPianoroll,
.gsuiPatternroll,
.gsuiSynthesizer {
	height: 100%;
	outline: 0;
}
