.gsuiWindow[ data-window-id="mixer" ] .gsuiWindow-content {
	overflow-y: hidden;
}

/* .......................................................................... */
.windowBetaMsg {
	color: #fff;
	padding: 8px;
	font-size: 11px;
	font-weight: bold;
	background-color: #ba5d5d;
}

/* .......................................................................... */
.windowBtn {
	height: 20px;
	padding: 0 8px;
	max-width: 110px;
	border: 0;
	outline: 0;
	cursor: pointer;
	overflow: hidden;
	border-radius: 3px;
	line-height: 1;
	color: inherit;
	font-size: 12px;
	font-weight: bold;
	font-family: inherit;
	white-space: nowrap;
	text-overflow: ellipsis;
	background-color: var( --windowBtn-bg );
	transition: filter .2s;
}
.windowBtn:focus,
.windowBtn:hover {
	filter: brightness( 1.1 );
}

.windowBtnIcon,
.windowBtnText {
	pointer-events: none;
}

.windowBtnIcon + .windowBtnText {
	margin-left: 4px;
}

.windowDataBtn:empty::before {
	content: "Untitled";
	font-style: italic;
}
