<div id="about">
	<div class="container">
		<div class="logo-cell">
			<div class="logo"></div>
		</div>
		<div class="content-cell">
			<div class="credits">
				<p>
					<a target="_blank" href="//github.com/GridSound/gridsound.github.io">GridSound</a> and its
					<a target="_blank" href="//github.com/GridSound/webaudio-library">WebAudio-library</a>
					are two distinct open-source projects hosted on <i class="fa fa-github"></i> GitHub and maintened by&nbsp;:
				</p>
				<a target="_blank" class="contributor" href="//github.com/Misty418">
					<img src="//avatars0.githubusercontent.com/u/3739218?v=3&s=50"/>
					<span class="name"><b>Misty418</b> (Mélanie Ducani)</span>
				</a><br/>
				<a target="_blank" class="contributor" href="//github.com/Mr21">
					<img src="//avatars0.githubusercontent.com/u/850754?v=3&s=50"/>
					<span class="name"><b>Mr21</b> (Thomas Tortorini)</span>
				</a>
			</div>
		</div>
	</div>
</div>
