<div id="bpm" class="border inshadow" title="Beats per minute (Scroll to change)">
	<span class="text">
		<a class="bpmLink">
			<span id="bpmInt"></span>
			<span id="bpmDec"></span>
		</a>
		<span class="unit">bpm</span>
	</span>
</div>
