<a class="sample" draggable="true">
	<div class="waveformWrapper">
		<svg class="waveform" preserveAspectRatio="none"><path/></svg>
	</div>
	<span class="name text-overflow">
		<i class="icon fa fa-fw"></i>
		<span>{{ name }}</span>
	</span>
</a>
