<div id="files">
	<div class="extend cursor-ewResize" data-mousemove-fn="files"></div>
	<div class="filelist">
		<input type="file"/>
	</div>
	<div class="placeholder">
		<i class="fa fa-file-audio-o"></i><br/>
		<b>Drop audio files here</b>
	</div>
</div>
