<div id="grid">
	<div id="gridEm">
		<div id="gridHeader">
			<div id="gridTimeline">
				<span id="currentTimeArrow" class="icon caret-down"></span>
			</div>
		</div>
		<div id="tracks">
			<div id="gridCols">
				<div id="tracksNames" class="colA">
					<div class="extend" data-mousemove-fn="trackNames"></div>
				</div>
				<div id="gridColB">
					<div id="tracksBg"></div>
					<div id="tracksLines">
						<div id="currentTimeCursor"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
