<div id="grid">
	<div class="emWrapper">
		<div class="header">
			<div class="timeline">
				<span class="timeArrow"></span>
			</div>
		</div>
		<div class="trackList">
			<div class="cols">
				<div class="colA trackNames">
					<div class="extend cursor-ewResize" data-mousemove-fn="trackNames"></div>
				</div>
				<div class="colB">
					<div class="trackLinesBg"></div>
					<div class="trackLines">
						<div class="timeCursor"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
