<div class="gridBlock sample">
	<div class="content">
		{{> gs-ui-waveform }}
	</div>
	<div class="header">
		<i class="icon music"></i>
		<b class="name gs-ui--text-overflow">{{ name }}</b>
	</div>
	<div class="crop start"></div>
	<div class="crop end"></div>
</div>
