<div id="menu">
	<a class="btn play fa fa-play" title="Play/pause (Enter)"></a>
	<a class="btn stop fa fa-stop" title="Stop (Backspace)"></a>
	<div class="bpm" title="Beats per minute (Scroll to change)">
		<span class="text">
			<a class="a-bpm">
				<i class="fa"></i>
				<span class="int"></span>
				<span class="dec"></span>
			</a>
			<div class="bpm-list">
				<a>80</a><a>90</a><a>100</a>
				<a>110</a><a>120</a><a>130</a>
				<a>140</a><a>150</a><a>160</a>
			</div>
			<span class="unit">&nbsp;bpm</span>
		</span>
	</div>
	<div class="tools">
		<a data-option="magnet" class="btn fa fa-fw fa-magnet magnet" title="Toggle magnetism (G)"></a>
		<a data-tool="select" class="btn fa fa-fw fa-mouse-pointer" title="Select (V)"></a>
		<a data-tool="paint"  class="btn fa fa-fw fa-paint-brush" title="Paint (B)"></a>
		<a data-tool="delete" class="btn fa fa-fw fa-eraser" title="Delete (D)"></a>
		<a data-tool="mute"   class="btn fa fa-fw fa-volume-off" title="Mute (M)"></a>
		<a data-tool="slip"   class="btn fa fa-fw fa-exchange" title="Slip (S)"></a>
		<a data-tool="cut"    class="btn fa fa-fw fa-scissors" title="Cut (C)"></a>
		<a data-tool="hand"   class="btn fa fa-fw fa-hand-paper-o" title="Hand (H)"></a>
		<a data-tool="zoom"   class="btn fa fa-fw fa-search last" title="Zoom (Z)"></a>
		<a data-edit="save"   class="btn fa fa-fw fa-save save" title="Save (Ctrl+S)"></a>
	</div>
	<div class="separator"></div>
	<a href="#about" class="about fa fa-question" title="About"></a>
</div>
