<div id="menu">
	<a class="btn play fa fa-play" title="Play/pause (press Space, hold Ctrl for pause)"></a>
	<a class="btn stop fa fa-stop" title="Stop (press Space)"></a>
	<div class="bpm" title="Beats per minute (Scroll to change)">
		<span class="text">
			<a class="a-bpm">
				<i class="fa"></i>
				<span class="int"></span>
				<span class="dec"></span>
			</a>
			<div class="bpm-list">
				<a>80</a><a>90</a><a>100</a>
				<a>110</a><a>120</a><a>130</a>
				<a>140</a><a>150</a><a>160</a>
			</div>
			<span class="unit">&nbsp;bpm</span>
		</span>
	</div>
	<div class="tools">
		<a data-edit="save"     class="btn fa fa-fw fa-save save" title="Save"></a>
		<a data-option="magnet" class="btn fa fa-fw fa-magnet magnet" title="Toggle magnetism (press G)"></a>
		<div class="sep"></div>
		<a data-tool="select" class="btn fa fa-fw fa-mouse-pointer" title="Select (hold Shift or press V)"></a>
		<a data-tool="paint"  class="btn fa fa-fw fa-paint-brush" title="Paint (press B)"></a>
		<a data-tool="delete" class="btn fa fa-fw fa-eraser" title="Delete (press D)"></a>
		<a data-tool="mute"   class="btn fa fa-fw fa-volume-off" title="Mute (press M)" style="display: none;"></a>
		<a data-tool="slip"   class="btn fa fa-fw fa-exchange" title="Slip (press S)"></a>
		<a data-tool="cut"    class="btn fa fa-fw fa-scissors" title="Cut (press C)"></a>
		<a data-tool="hand"   class="btn fa fa-fw fa-hand-paper-o" title="Hand (hold Alt or press H)"></a>
		<a data-tool="zoom"   class="btn fa fa-fw fa-search last" title="Zoom (hold Ctrl or press Z)"></a>
	</div>
	<div class="separator"></div>
	<a href="#about" class="about fa fa-question" title="About"></a>
</div>
