<div id="menu">
	<a class="btn border icon play" title="Play/pause (press Space, hold Ctrl for pause)"></a>
	<a class="btn border icon stop" title="Stop (press Space)"></a>
	<div class="bpm border" title="Beats per minute (Scroll to change)">
		<span class="text">
			<a class="a-bpm">
				<i class="icon"></i>
				<span class="int"></span>
				<span class="dec"></span>
			</a>
			<div class="bpm-list">
				<a>80</a><a>90</a><a>100</a>
				<a>110</a><a>120</a><a>130</a>
				<a>140</a><a>150</a><a>160</a>
			</div>
			<span class="unit">bpm</span>
		</span>
	</div>
	<a data-edit="save"     class="btn icon fw save" title="Save"></a>
	<a data-option="magnet" class="btn icon fw magnet" title="Toggle magnetism (press G)"></a>
	<div class="sep"></div>
	<a data-tool="select" class="btn icon fw tool-select" title="Select (hold Shift or press V)"></a>
	<a data-tool="paint"  class="btn icon fw tool-paint" title="Paint (press B)"></a>
	<a data-tool="delete" class="btn icon fw tool-delete" title="Delete (press D)"></a>
	<a data-tool="mute"   class="btn icon fw tool-mute" title="Mute (press M)" style="display: none;"></a>
	<a data-tool="slip"   class="btn icon fw tool-slip" title="Slip (press S)"></a>
	<a data-tool="cut"    class="btn icon fw tool-cut" title="Cut (press C)"></a>
	<a data-tool="hand"   class="btn icon fw tool-hand" title="Hand (hold Alt or press H)"></a>
	<a data-tool="zoom"   class="btn icon fw tool-zoom last" title="Zoom (hold Ctrl or press Z)"></a>
	<div class="flex1"></div>
	<a href="#about" class="icon about" title="About"></a>
</div>
