<div id="menu">
	<a id="btnPlay" class="btn border inshadow icon play" title="Play/pause (press Space, hold Ctrl for pause)"></a>
	<a id="btnStop" class="btn border inshadow icon stop" title="Stop (press Space)"></a>
	<div id="bpm" class="border inshadow" title="Beats per minute (Scroll to change)">
		<span class="text">
			<a class="bpmLink">
				<i class="icon"></i>
				<span id="bpmInt"></span>
				<span id="bpmDec"></span>
			</a>
			<div id="bpmList">
				<a>80</a><a>90</a><a>100</a>
				<a>110</a><a>120</a><a>130</a>
				<a>140</a><a>150</a><a>160</a>
			</div>
			<span class="unit">bpm</span>
		</span>
	</div>
	{{> save }}
	<a data-option="magnet" id="btnMagnet" class="btn small icon fw magnet" title="Toggle magnetism (press G)"></a>
	<div class="sep"></div>
	<a data-tool="select" class="btn small icon fw tool-select" title="Select (hold Shift or press V)"></a>
	<a data-tool="paint"  class="btn small icon fw tool-paint" title="Paint (press B)"></a>
	<a data-tool="delete" class="btn small icon fw tool-delete" title="Delete (press D)"></a>
	<a data-tool="mute"   class="btn small icon fw tool-mute" title="Mute (press M)" style="display: none;"></a>
	<a data-tool="slip"   class="btn small icon fw tool-slip" title="Slip (press S)"></a>
	<a data-tool="cut"    class="btn small icon fw tool-cut" title="Cut (press C)"></a>
	<a data-tool="hand"   class="btn small icon fw tool-hand" title="Hand (hold Alt or press H)"></a>
	<a data-tool="zoom"   class="btn small icon fw tool-zoom" title="Zoom (hold Ctrl or press Z)"></a>
	<div class="flex1"></div>
	<a href=".." target="_blank" class="btn small icon fw question" title="About"></a>
</div>
