<section id="files">
	<input type="file"/>
	<nav class="filters">
		<a href="#" class="used">Used</a>
		<a href="#" class="loaded">Loaded</a>
		<a href="#" class="unloaded">Unloaded</a>
	</nav>
	<div class="filelist"></div>
	<div class="placeholder">
		<i class="icon file-audio"></i><br/>
		<b>Drop audio files here</b>
	</div>
</section>
