<section id="history">
	<nav>
		<span class="title">History</span>
		<a href="#" class="btn icon fw undo" title="Undo (Ctrl + Z)"></a>
		<a href="#" class="btn icon fw redo" title="Redo (Ctrl + Shift + Z)"></a>
	</nav>
	<div class="list actionlist"></div>
</section>
