<section id="files">
	<input id="filesInput" type="file"/>
	<div id="filesCursor" class="cursor"></div>
	<nav id="filesFilters">
		<a href="#" class="used">Used</a>
		<a href="#" class="loaded">Loaded</a>
		<a href="#" class="unloaded">Unloaded</a>
	</nav>
	<div id="filesList" class="list"></div>
	<div class="placeholder">
		<i class="icon file-audio"></i><br/>
		<b>Drop audio files here</b>
	</div>
</section>
