<div id="panel">
	<div class="extend" data-mousemove-fn="panel"></div>
	<nav class="filters">
		<a href="#" class="used">Used</a>
		<a href="#" class="loaded">Loaded</a>
		<a href="#" class="unloaded">Unloaded</a>
	</nav>
	<input type="file"/>
	<div class="filelist"></div>
	<div class="placeholder">
		<i class="fa fa-file-audio-o"></i><br/>
		<b>Drop audio files here</b>
	</div>
</div>
