<section id="history">
	<nav>
		<span class="title">History</span>
		<a href="#" id="btnUndo" class="btn icon fw undo" title="Undo (Ctrl + Z)"></a>
		<a href="#" id="btnRedo" class="btn icon fw redo" title="Redo (Ctrl + Shift + Z)"></a>
	</nav>
	<div id="historyList" class="list"></div>
</section>
