<section id="history">
	<div class="tasklist">
		<a class="task undone">
			<i class="icon fw circle"></i>
			<span class="text"><b>WIP</b>: this area is in development</span>
		</a>
		<a class="task undone">
			<i class="icon fw circle"></i>
			<span class="text">Move <b>24</b> samples</span>
		</a>
		<a class="task undone">
			<i class="icon fw circle"></i>
			<span class="text">Paste <b>24</b> samples</span>
		</a>
		<a class="task">
			<i class="icon fw circle"></i>
			<span class="text">Delete <b>1</b> sample</span>
		</a>
		<a class="task">
			<i class="icon fw circle"></i>
			<span class="text">Move <b>8</b> samples</span>
		</a>
		<a class="task">
			<i class="icon fw circle"></i>
			<span class="text">Open <b><i>Track de test</i></b></span>
		</a>
	</div>
</section>
