<div class="sample">
	<div class="waveformWrapper">
		<canvas class="waveform"></canvas>
	</div>
	<span class="name text-overflow">{{ name }}</span>
	<div class="crop start"></div>
	<div class="crop end"></div>
</div>
