<div class="sample">
	<div class="waveformWrapper">
		<svg class="waveform" preserveAspectRatio="none"><path/></svg>
	</div>
	<span class="name text-overflow">{{ name }}</span>
	<div class="crop start"></div>
	<div class="crop end"></div>
</div>
