<div id="save" class="border">
	<a data-edit="save" class="btn inshadow icon fw save" title="Save (Ctrl + S)"></a>
	<input id="saveCheckbox" type="checkbox"/>
	<label for="saveCheckbox" class="btn inshadow caret icon fw" title="Compositions list"></label>
	<div class="dropdown">
		<header>
			<span>Composition list :</span>
		</header>
		<div class="list"></div>
	</div>
</div>
