<div id="visual">
	<canvas id="visualCanvas"></canvas>
	<div class="columns">
		<div class="cell-btn"><a id="btnHistory" class="btn icon fw history" title="History (undo/redo)"></a></div>
		<div class="cell-btn"><a id="btnFiles" class="btn icon fw files" title="Audio files"></a></div>
		<div class="cell-clock">
			<div id="clock">
				<span id="clockMin"></span>
				<span id="clockSec"></span>
				<span id="clockMs"></span>
				<a id="clockUnits" href="#">
					<span class="s">sec</span>
					<span class="b">beat</span>
				</a>
			</div>
		</div>
	</div>
</div>
