<div id="visual">
	<canvas></canvas>
	<div class="clock">
		<span class="min"></span>
		<span class="sec"></span>
		<span class="ms"></span>
		<a class="units" href="#">
			<span class="s">sec</span>
			<span class="b">beat</span>
		</a>
	</div>
</div>
