<div id="visual">
	<canvas></canvas>
	<div class="columns">
		<div class="cell-btn"><a class="btn icon fw history" title="History (undo/redo)"></a></div>
		<div class="cell-btn"><a class="btn icon fw files" title="Audio files"></a></div>
		<div class="cell-clock">
			<div class="clock">
				<span class="min"></span>
				<span class="sec"></span>
				<span class="ms"></span>
				<a class="units" href="#">
					<span class="s">sec</span>
					<span class="b">beat</span>
				</a>
			</div>
		</div>
	</div>
</div>
