<template id="gridblockSample">
	<div class="gridblock sample">
		<div class="content">
			{{> gsuiWaveform }}
		</div>
		<div class="header">
			<i class="icon music"></i>
			<b class="name gsui-textOverflow"></b>
		</div>
		<div class="crop start"></div>
		<div class="crop end"></div>
	</div>
</template>
