<template id="historyAction">
	<a class="historyAction">
		<i class="icon fw circle"></i
		><i class="icon fw type"></i
		><b class="title"></b
		><span class="text"></span>
	</a>
</template>
<!--
<a class="historyAction">
	<i class="icon fw circle"></i
	><i class="icon fw tool tool-{{ name }}"></i
	><b class="title">{{ name }}</b
	><span class="text">{{{ desc }}}</span>
</a>
-->
