<template id="itemBuffer">
	<a class="item buffer unloaded" draggable="true">
		{{> gsuiWaveform }}
		<div class="info text-overflow">
			<i class="icon fw question"></i>
			<span class="name"></span>
		</div>
	</a>
</template>
