<template id="itemBuffer">
	<a class="item buffer unloaded" draggable="true">
		{{> gsuiWaveform }}
		<div class="info">
			<i class="icon fw question"></i>
			<span class="name text-overflow"></span>
		</div>
	</a>
</template>
