#splashScreen {
	display: flex;
	z-index: 1;
	position: absolute;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	inset: 0;
	color: #fff8;
	background-color: #333;
	transition: .5s opacity;
}
#splashScreen.started {
	opacity: 0;
}

#splashScreen-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	text-align: center;
}

#splashScreen-version {
	margin-top: 10px;
	font-size: 20px;
	font-family: var(--gsui-font-number );
}
#splashScreen-version::before {
	content: "version";
	font-size: 12px;
	font-family: inherit;
	margin-right: 5px;
	margin-bottom: 200px;
	opacity: .5;
}

#splashScreen-start {
	margin-top: 48px;
	padding: .5ch 1ch;
	border: 2px solid;
	border-radius: 8px;
	outline: 0;
	font: inherit;
	font-size: 14px;
	color: var( --gsui-col-gain );
	cursor: pointer;
	background-color: rgba( var( --gsui-rgb-gain ), .2 );
	transition:
		box-shadow .25s,
		opacity .5s;
}
#splashScreen-start:disabled {
	opacity: .25;
	pointer-events: none;
}
#splashScreen.loaded #splashScreen-start:not( :disabled ):focus,
#splashScreen.loaded #splashScreen-start:not( :disabled ):hover {
	box-shadow: 0 0 24px rgba( var( --gsui-rgb-gain ), .3 );
	animation: .25s splashScreen-textAnim linear infinite alternate;
}
#splashScreen:not( .loaded ) #splashScreen-start::before { content: "downloading..."; }
#splashScreen.loaded #splashScreen-start::before { content: "click to start"; }
#splashScreen.starting #splashScreen-start::before { content: "starting..."; }

@keyframes splashScreen-textAnim {
	from { background-color: rgba( var( --gsui-rgb-gain ), .2 ); }
	to { background-color: transparent; }
}

#splashScreen-form {
	order: 10;
	margin-top: 50px;
	font-size: 10px;
}
.splashScreen-form-row {
	display: flex;
	align-items: center;
	gap: .5ch;
	cursor: pointer;
}
#splashScreen-form input {
	cursor: pointer;
}

/* .......................................................................... */
.TextGlitch {
	position: relative;
	color: #ccc;
	line-height: 1em;
	font-size: 68px;
	font-family: "oswald", monospace;
}
.TextGlitch-blended {
	color: #fff;
}

.TextGlitch-clip {
	position: relative;
}
.TextGlitch-clip + .TextGlitch-clip {
	position: absolute;
	top: 0;
}
.TextGlitch:not( .TextGlitch-blended ) .TextGlitch-clip + .TextGlitch-clip {
	display: none;
}

.TextGlitch-word {
	margin: 0;
	white-space: nowrap;
}

.TextGlitch-blend {
	position: absolute;
	top: 0;
	opacity: 0;
	transition: .1s;
	transition-property: opacity;
}
.TextGlitch-blendA {
	color: #2af;
	margin: -.03em 0 0 .03em;
	mix-blend-mode: darken;
}
.TextGlitch-blendB {
	color: #f64;
	margin: .03em 0 0 -.03em;
	mix-blend-mode: color-burn;
}
.TextGlitch-blended .TextGlitch-blend {
	opacity: .4;
}
